
@main-color: #523e59;
@text: #100f10;

body{
	font-family: Verdana,sans-serif;
}
header.header{
	padding-top: 7px;
}

.center-header{
	padding-left: 57px;
}

.enter-links{
	font-family: 'centurygothicbold';
	font-size: 15px;
	margin-top: 48px;

		a{
			color: #2e2a30;
		}
		li{
			float: left;
			margin-right: 20px;
		}
}

.second-field{
	input{
		width: 100%;
		border:0;
		outline: 0;
		background-color: #efefef;
		height: 28px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			     border-radius: 5px;
		padding-left: 10px;
	}
}


.bot-list{
	font-size: 15px;
	margin-top: 16px;

		ul{
			display: flex;
		   justify-content: space-between;
		   flex-direction: row;
		   align-items: stretch;
		}

		a{
			color: @text;
			text-decoration: none !important;
			border-bottom: 1px dashed @text;
			padding-bottom: 5px;
		}
}

.time-header{
	color: #727272;
	font-size: 13px;
}
.tel-header{
	font-size: 26px;
	color: #ed2024;

		span{
			color: #838383;
		}
}

.get-call{
	display: inline-block;
	color: #000 !important;
	font-size: 15px;
	text-decoration: none !important;
	padding-bottom: 2px;
	border-bottom: 1px dashed #000;
	margin-top: 5px;
}

.center-link{
	padding-left: 46px;

		.globus{
			margin-right: 22px;
		}
}

.right-header{
	padding-left: 60px;
   padding-top: 63px;
}

.navbar{
	margin-top: 18px;
}

.price{
	text-transform: uppercase;
	display: block;
	float: right;
	width: 65px;
	height: 27px;
	background-color: #ed2024;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	margin-top: 9px;
	font-family: Verdana,sans-serif;
}

.carousel-wrapper{
	margin-top: 25px;

		.small-title{
			color: @main-color;

				img{
					margin-right: 7px;
					position: relative;
					top: -3px;
				}
		}
		.big-title{
			text-transform: uppercase;

				h1{
					font-size: 38px;
					color: @main-color;
					font-family: 'CenturyGothicRegulat';
					margin-top: 30px;
				}
		}
		.header{
			position: relative;
		}
		.social{
			position: absolute;
			z-index: 2;
			right: 5px;
   		bottom: 13px;
		}
}

.navbar-nav > li{
	padding-right: 40px;

		&:first-child{
			padding-right: 30px;
		}
		&:nth-child(2){
			padding-right: 51px;
		}
		&:nth-child(3){
			padding-right: 46px;
		}
		&:nth-child(5){
			padding-right: 48px;
		}
		&:nth-child(6){
			padding-right: 53px;
		}
		&:last-child{
			padding-right: 0;
		}
} 


.my-carousel{
	margin-top: 25px;

		.carousel-control.left,
		.carousel-control.right{
			display: none;
		}

		> .carousel-inner{
			text-align: center;

				img{
					display: inline;
				}
		}
		.carousel-indicators{
			bottom: 7px;

				li{
					border:0;
					background: url(../images/indicator.png)no-repeat;
					width: 17px;
					height: 17px;
					margin: 0;
					margin-right: 15px;

						&:hover{
							width: 17px;
							height: 17px;
							background: url(../images/indicator-h.png)no-repeat;
							background-size: contain;
						}
						&.active{
							width: 27px;
							height: 27px;
							position: relative;
							top: 4px;
							background: url(../images/indicator-a.png)no-repeat;
						}
				}
		}
		
}

.main-content{
	margin-top: 36px;
}
.sidebar{
	padding-right: 64px;

		a{
			color: @text;
		}
		ul{
			list-style-type: disc;
			margin-left: 22px;
		}
		li{
			margin-bottom: 2px;
		}
}
.roof-menu{
	border: 1px solid #c0b5c0;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	        border-radius: 5px;
	font-size: 14px;
	padding-bottom: 10px;

		.top-roof{
			margin-bottom: 24px;
		}
}

.sidebar-header{
	font-family: 'centurygothicbold';
	font-size: 18px;
	color: #2e2a30;
	background-color: #f3f3f3;
	padding: 7px 13px;
	margin-bottom: 13px;
	line-height: 1.3;
}

.second-menu{
	margin-top: 20px;
	border: 1px solid #c0b5c0;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	        border-radius: 5px;
	font-size: 14px;
	padding-bottom: 8px;
}

.center-container{
	margin-left: -7px;
}

.serv-block{
	padding-bottom: 12px;
	border: 1px solid #c0b5c0;
	-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
	        transition: all 0.2s ease;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	        border-radius: 5px;

		&:hover{
			background-color: #f3f3f3;
			border-color: transparent;
		}
}

.serv-icon{
	text-align: center;
}
.serv-cell{
	width: 400px;
	height: 104px;
	display: table-cell;
	vertical-align: middle;
}
.serv-title{
	font-size: 11px;
	text-align: center;
	color: @text;
}

.services .col-lg-3{
	padding-right: 30px;

		&:nth-child(3){
			padding-left: 26px;
    		padding-right: 19px;
		}
		&:nth-child(2){
			padding-left: 21px;
         padding-right: 26px;
		}
		&:last-child{
			padding-left: 32px;
    		padding-right: 12px;
		}
}

.tovar-wrapper{
	margin-top: 39px;

		h2{
			margin-top: 0;
			font-family: 'CenturyGothicRegulat';
			color: @main-color;
		}
}

.tovar{
	margin-top: 36px;

	.title{
		position: relative;

			a{
				font-size: 12px;
				color: #727272;
				text-decoration: none !important; 
				position: absolute;
				right:0;
			}

			.price-link{
				top: -12px;

					span{
						padding-left: 17px;
					}
			}
			.download{
				bottom: -4px;

					img{
						margin-left: 12px;
					}
			}
	}
}

.tovar-second{
	margin-top: 63px;

		.tovar-text{
			margin-top: 20px;
		}
		.tovar-item{
			margin-top: 22px;
		}
		.price-link{
			top: 2px !important;
		}
		.download{
			bottom: -14px !important;
		}
}

.tovar-text{
	margin-top: 16px;
   padding-left: 26px;
   padding-right: 24px;

		header{
			font-family: 'centurygothicbold';
			text-transform: uppercase;
			color: #2e2a30;
			font-size: 18px;

				span{
					font-family: 'CenturyGothicRegulat';
					text-transform: none;
				}
		}
}
.tovar-desc{
	font-size: 14px;
	color: @text;
	font-family: Verdana,sans-serif;
	line-height: 1.6;
	margin-top: 5px;
	text-align: justify;
}
.tovar-item{
	margin-top: 15px;
	padding-left: 26px;
   padding-right: 24px;
}

.tovar-item-block{
	float: left;
	width: 20%;
	text-align: center;
	padding-right: 3px;

		&:last-child{
			padding-right: 0;
		}

	 .item-cell{
	 	height:163px;
	 	width: 400px;
	 	display: table-cell;
	 	vertical-align: middle;
	 }
	 .item-title{
	 	color: #2e2a30;
	 	font-size: 15px;
	 	font-family: 'centurygothicbold';
	 }
	 .item-star{
	 	margin-top: 10px;
	 }
}
.tovar-item-container{
	border: 1px solid #c0b5c0;
	padding-bottom: 14px;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	        border-radius: 5px;
}

.make-request{
	margin-top: 30px;
	background: #654d6f; /* Old browsers */
	background: -moz-linear-gradient(top,  #654d6f 0%, #5e4866 31%, #514157 68%, #4a3c4e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#654d6f), color-stop(31%,#5e4866), color-stop(68%,#514157), color-stop(100%,#4a3c4e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #654d6f 0%,#5e4866 31%,#514157 68%,#4a3c4e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #654d6f 0%,#5e4866 31%,#514157 68%,#4a3c4e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #654d6f 0%,#5e4866 31%,#514157 68%,#4a3c4e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #654d6f 0%,#5e4866 31%,#514157 68%,#4a3c4e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#654d6f', endColorstr='#4a3c4e',GradientType=0 ); /* IE6-9 */

		h1{
			text-align: center;
			color: #ebebeb;
			font-family: 'centurygothicbold';
			margin-top: 22px;
    	   padding-left: 10px;
		}
		.container{
			padding: 0 70px;
		}
}

.input-container{
	text-align: center;
	font-family: Verdana,sans-serif;
	margin-top: 12px;

		p{
			color: #fff;
			font-size: 16px;
			margin-bottom: 2px;
		}
		input{
			width: 285px;
			height: 40px;
			border: 0;
			outline: 0;
			color: @text;
			font-size: 16px;
			font-family: Vardana,sans-serif;
			text-align: center;
			background-color: #ebebeb;
			-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
			        border-radius: 5px;
		}
		.col-lg-4{
			padding-left: 30px;

				&:first-child{
					padding-left: 17px;
				}
		}
}

.s-sub{
	border:0;
	outline: 0;
	width: 310px;
	height: 60px;
	display: block;
	margin: 26px auto;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: #ed2024;
	font-size: 30px;
	font-family: 'CenturyGothicRegulat';
	color: #fff;
	padding-bottom: 5px;


}

.input-container input::-webkit-input-placeholder {color:@text;}
.input-container input::-moz-placeholder          {color:@text;}
.input-container input:-moz-placeholder           {color:@text;}
.input-container input:-ms-input-placeholder      {color:@text;}