.container {
  width: 1185px !important;
}
body {
  font-family: Verdana, sans-serif;
}
header.header {
  padding-top: 7px;
}
.center-header {
  padding-left: 57px;
}
.enter-links {
  font-family: 'centurygothicbold';
  font-size: 15px;
  margin-top: 48px;
}
.enter-links a {
  color: #2e2a30;
  text-decoration: none !important;
}
.enter-links a:hover {
  border-bottom: 1px solid #2e2a30;
}
.enter-links li {
  float: left;
  margin-right: 20px;
}
.second-field input {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #efefef;
  height: 28px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 10px;
}
.bot-list {
  font-size: 15px;
  margin-top: 16px;
}
.bot-list ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
}
.bot-list a {
  color: #100f10;
  text-decoration: none !important;
  border-bottom: 1px dashed #100f10;
  padding-bottom: 5px;
}
.bot-list a:active {
  border: 0;
  border-bottom: 1px dashed #100f10;
  outline: 0;
}
.bot-list a:hover {
  border-bottom-color: transparent;
}
.time-header {
  color: #727272;
  font-size: 13px;
}
.tel-header {
  font-size: 26px;
  color: #ed2024;
}
.tel-header span {
  color: #838383;
}
.get-call {
  display: inline-block;
  color: black !important;
  font-size: 15px;
  text-decoration: none !important;
  padding-bottom: 2px;
  border-bottom: 1px dashed black;
  margin-top: 5px;
}
.center-link {
  padding-left: 46px;
}
.center-link .globus {
  margin-right: 22px;
}
.right-header {
  padding-left: 60px;
  padding-top: 63px;
}
.navbar {
  margin-top: 18px;
}
.price {
  text-transform: uppercase;
  display: block;
  float: right;
  width: 65px;
  height: 27px;
  background-color: #ed2024;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 27px;
  margin-top: 9px;
  font-family: 'MuseoSansBold';
}
.carousel-wrapper {
  margin-top: 25px;
}
.carousel-wrapper .small-title {
  color: #523e59;
}
.carousel-wrapper .small-title img {
  margin-right: 7px;
  position: relative;
  top: -3px;
}
.carousel-wrapper .big-title {
  text-transform: uppercase;
}
.carousel-wrapper .big-title h1 {
  font-size: 38px;
  color: #523e59;
  font-family: 'CenturyGothicRegulat';
  margin-top: 30px;
}
.carousel-wrapper .header {
  position: relative;
}
.carousel-wrapper .social {
  position: absolute;
  z-index: 2;
  right: 5px;
  bottom: 13px;
}
.navbar-nav > li {
  padding-right: 40px;
}
.navbar-nav > li:first-child {
  padding-right: 30px;
}
.navbar-nav > li:nth-child(2) {
  padding-right: 51px;
}
.navbar-nav > li:nth-child(3) {
  padding-right: 46px;
}
.navbar-nav > li:nth-child(5) {
  padding-right: 48px;
}
.navbar-nav > li:nth-child(6) {
  padding-right: 53px;
}
.navbar-nav > li:last-child {
  padding-right: 0;
}
.my-carousel {
  margin-top: 25px;
  min-width: 1185px;
}
.my-carousel .carousel-control.left,
.my-carousel .carousel-control.right {
  display: none;
}
.my-carousel > .carousel-inner {
  text-align: center;
}
.my-carousel > .carousel-inner img {
  display: inline;
}
.my-carousel .carousel-indicators {
  bottom: 7px;
}
.my-carousel .carousel-indicators li {
  border: 0;
  background: url(../images/indicator.png) no-repeat;
  width: 17px;
  height: 17px;
  margin: 0;
  margin-right: 15px;
}
.my-carousel .carousel-indicators li:hover {
  width: 17px;
  height: 17px;
  background: url(../images/indicator-h.png) no-repeat;
  background-size: contain;
}
.my-carousel .carousel-indicators li.active {
  width: 27px;
  height: 27px;
  position: relative;
  top: 4px;
  background: url(../images/indicator-a.png) no-repeat;
}
.main-content {
  margin-top: 36px;
}
.sidebar {
  padding-right: 64px;
}
.sidebar a {
  color: #100f10;
  text-decoration: none !important;
}
.sidebar a:hover {
  border-bottom: 1px solid #100f10;
}
.sidebar ul {
  list-style-type: disc;
  margin-left: 22px;
}
.sidebar li {
  margin-bottom: 2px;
}
.roof-menu {
  border: 1px solid #c0b5c0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  padding-bottom: 10px;
}
.roof-menu .top-roof {
  margin-bottom: 24px;
}
.sidebar-header {
  font-family: 'centurygothicbold';
  font-size: 18px;
  color: #2e2a30;
  background-color: #f3f3f3;
  padding: 7px 13px;
  margin-bottom: 13px;
  line-height: 1.3;
}
.second-menu {
  margin-top: 20px;
  border: 1px solid #c0b5c0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  padding-bottom: 8px;
}
.center-container {
  margin-left: -7px;
}
.serv-block {
  padding-bottom: 12px;
  border: 1px solid #c0b5c0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.serv-block:hover {
  background-color: #f3f3f3;
  border-color: transparent;
}
.serv-icon {
  text-align: center;
}
.serv-cell {
  width: 400px;
  height: 104px;
  display: table-cell;
  vertical-align: middle;
}
.serv-title {
  font-size: 11px;
  text-align: center;
  color: #100f10;
}
.services .col-lg-3 {
  padding-right: 30px;
}
.services .col-lg-3:nth-child(3) {
  padding-left: 26px;
  padding-right: 19px;
}
.services .col-lg-3:nth-child(2) {
  padding-left: 21px;
  padding-right: 26px;
}
.services .col-lg-3:last-child {
  padding-left: 32px;
  padding-right: 12px;
}
.tovar-wrapper {
  margin-top: 39px;
}
.tovar-wrapper h2 {
  margin-top: 0;
  font-family: 'CenturyGothicRegulat';
  color: #523e59;
}
.tovar {
  margin-top: 36px;
}
.tovar .title {
  position: relative;
}
.tovar .title a {
  font-size: 12px;
  color: #727272;
  text-decoration: none !important;
  position: absolute;
  right: 0;
}
.tovar .title .price-link {
  top: -12px;
}
.tovar .title .price-link span {
  padding-left: 17px;
}
.tovar .title .download {
  bottom: -4px;
}
.tovar .title .download img {
  margin-left: 12px;
}
.tovar-second {
  margin-top: 63px;
}
.tovar-second .tovar-text {
  margin-top: 20px;
}
.tovar-second .tovar-item {
  margin-top: 22px;
}
.tovar-second .price-link {
  top: 2px !important;
}
.tovar-second .download {
  bottom: -14px !important;
}
.tovar-text {
  margin-top: 16px;
  padding-left: 26px;
  padding-right: 24px;
}
.tovar-text header {
  font-family: 'centurygothicbold';
  text-transform: uppercase;
  color: #2e2a30;
  font-size: 18px;
}
.tovar-text header span {
  font-family: 'CenturyGothicRegulat';
  text-transform: none;
}
.tovar-desc {
  font-size: 14px;
  color: #100f10;
  font-family: Verdana, sans-serif;
  line-height: 1.6;
  margin-top: 5px;
  text-align: justify;
}
.tovar-item {
  margin-top: 15px;
  padding-left: 26px;
  padding-right: 24px;
}
.tovar-item-block {
  float: left;
  width: 20%;
  text-align: center;
  padding-right: 3px;
}
.tovar-item-block:last-child {
  padding-right: 0;
}
.tovar-item-block .item-cell {
  height: 163px;
  width: 400px;
  display: table-cell;
  vertical-align: middle;
}
.tovar-item-block .item-title {
  color: #2e2a30;
  font-size: 15px;
  font-family: 'centurygothicbold';
}
.tovar-item-block .item-star {
  margin-top: 10px;
}
.tovar-item-container {
  border: 1px solid #c0b5c0;
  padding-bottom: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.make-request {
  margin-top: 30px;
  background: #654d6f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #654d6f 0%, #5e4866 31%, #514157 68%, #4a3c4e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #654d6f), color-stop(31%, #5e4866), color-stop(68%, #514157), color-stop(100%, #4a3c4e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #654d6f 0%, #5e4866 31%, #514157 68%, #4a3c4e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #654d6f 0%, #5e4866 31%, #514157 68%, #4a3c4e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #654d6f 0%, #5e4866 31%, #514157 68%, #4a3c4e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #654d6f 0%, #5e4866 31%, #514157 68%, #4a3c4e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#654d6f', endColorstr='#4a3c4e', GradientType=0);
  /* IE6-9 */

}
.make-request h1 {
  text-align: center;
  color: #ebebeb;
  font-family: 'centurygothicbold';
  margin-top: 22px;
  padding-left: 10px;
}
.make-request .container {
  padding: 0 70px;
}
.input-container {
  text-align: center;
  font-family: Verdana, sans-serif;
  margin-top: 12px;
}
.input-container p {
  color: white;
  font-size: 16px;
  margin-bottom: 2px;
}
.input-container input {
  width: 285px;
  height: 40px;
  border: 0;
  outline: 0;
  color: #100f10;
  font-size: 16px;
  font-family: Vardana, sans-serif;
  text-align: center;
  background-color: #ebebeb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.input-container .col-lg-4 {
  padding-left: 30px;
}
.input-container .col-lg-4:first-child {
  padding-left: 17px;
}
.s-sub {
  border: 0;
  outline: 0;
  width: 310px;
  height: 60px;
  display: block;
  margin: 26px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ed2024;
  font-size: 30px;
  font-family: 'CenturyGothicRegulat';
  color: white;
  padding-bottom: 5px;
}
.input-container input::-webkit-input-placeholder {
  color: #100f10;
}
.input-container input::-moz-placeholder {
  color: #100f10;
}
.input-container input:-moz-placeholder {
  color: #100f10;
}
.input-container input:-ms-input-placeholder {
  color: #100f10;
}
.viewed {
  padding-bottom: 32px;
  border-bottom: 10px solid #523e59;
}
.viewed .center-container {
  margin-left: 0;
}
.viewed-block {
  padding-left: 5px;
}
.viewed-block h2 {
  color: #523e59;
  margin-top: 24px;
  font-family: 'CenturyGothicRegulat';
}
.viewed-block p {
  color: #100f10;
  font-size: 14px;
  line-height: 1.6;
}
.viewed-block .social {
  text-align: right;
  margin-top: 26px;
}
.your-view {
  padding-left: 1px;
  margin-top: -5px;
}
.your-view h2 {
  color: #523e59;
  font-family: 'CenturyGothicRegulat';
  margin-top: 0;
  line-height: 1;
}
.your-view .tovar-item {
  margin-top: 16px;
  padding-left: 5px;
  padding-right: 18px;
}
.item-star span {
  color: #100f10;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.wiki {
  margin-top: 68px;
  margin-bottom: 40px;
}
.wiki .title {
  text-align: center;
  margin-top: -10px;
  position: relative;
  z-index: 2;
}
.wiki .container {
  position: relative;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
}
.wiki .container:before {
  content: "";
  display: block;
  width: 172px;
  height: 47px;
  position: absolute;
  left: 50%;
  margin-left: -90px;
  top: -47px;
  background: url(../images/before.png) no-repeat;
}
.news {
  margin-top: 37px;
  text-align: center;
  padding-bottom: 45px;
}
.news .date {
  color: #727272;
  font-size: 13px;
  padding-top: 3px;
}
.news .head {
  text-align: center;
  font-family: 'centurygothicbold';
  color: #2e2a30;
  font-size: 15px;
  height: 83px;
  padding: 0px 15px;
  line-height: 1.2;
}
.news .head-cell {
  width: 500px;
  height: 70px;
  display: table-cell;
  vertical-align: middle;
}
.news .rating {
  color: #100f10;
  font-size: 14px;
  margin-top: 10px;
}
.news .rating span {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.carousel-tovar {
  width: 100%;
  margin-top: 35px;
  position: relative;
}
.carousel-wrapper-tovar {
  overflow: hidden;
  margin: 0 76px;
}
.carousel-items {
  width: 10000px;
  position: relative;
}
.carousel-block {
  float: left;
  width: 258px;
}
/* .carousel-block img{
	display:block;
} */

/*********** BUTTONS ***********/

.carousel-button-left a,
.carousel-button-right a,
.carousel-button-left2 a,
.carousel-button-right2 a {
  position: absolute;
  top: 52px;
  cursor: pointer;
  text-decoration: none;
}
.carousel-button-left a {
  left: 37px;
}
.carousel-button-right a {
  right: 37px;
}
.footer {
  padding-top: 24px;
  background: url(../images/footer.jpg) no-repeat 50%;
  background-size: cover;
}
.footer h4 {
  color: #2e2a30;
  font-family: 'centurygothicbold';
  margin-bottom: 14px;
}
.footer p {
  margin-bottom: 0;
}
.footer .links {
  color: #100f10;
  text-decoration: none;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 2px;
}
.footer .top-panel {
  padding-bottom: 19px;
  border-bottom: 1px solid #b3abb5;
}
.footer .bottom-panel {
  border-top: 1px solid #67566e;
  padding-top: 18px;
  padding-bottom: 20px;
}
.foot-list {
  font-size: 14px;
  color: #100f10;
}
.foot-list a {
  color: #100f10;
  text-decoration: none !important;
}
.foot-list a:hover {
  border-bottom: 1px solid #100f10;
}
.foot-list li {
  margin-bottom: 2px;
}
.about-company {
  padding-left: 18px;
}
.how-we-work {
  padding-left: 62px;
}
.catalog {
  padding-left: 61px;
}
.contact-information {
  padding-left: 31px;
}
.contact-information p {
  margin-bottom: 3px;
}
.time-work {
  margin-top: 36px;
  color: #828282;
  font-size: 12px;
}
.tel-foot {
  color: #2e2a30;
  font-size: 24px;
  line-height: 1.3;
}
.tel-foot span {
  color: #838383;
}
.bot-block {
  font-size: 14px;
  color: #100f10;
  margin-top: 41px;
}
.bot-block .left-text {
  padding-left: 18px;
}
.bot-block .master-icon {
  margin-left: 9px;
  position: relative;
  top: -2px;
}
.bot-block .right-text {
  padding-left: 43px;
}
.bot-block .right-text span:nth-child(2) {
  padding-left: 32px;
}
.bot-block .yandex-icon {
  margin-left: 24px;
}
.logo-foot {
  font-size: 14px;
  color: #100f10;
  padding-left: 4px;
}
.logo-foot span {
  position: relative;
  top: 9px;
  padding-left: 6px;
}
.foot-social {
  color: #727272;
  font-size: 13px;
  padding-left: 51px;
  margin-top: -7px;
}
.foot-social p {
  margin-bottom: 6px;
}
.flash-land {
  color: #474747 !important;
  font-size: 13px;
  text-decoration: none !important;
}
.flash-land:hover span {
  border-bottom: 1px solid #474747;
}
.flash {
  padding-left: 39px;
  padding-top: 21px;
}
.carousel-caption {
  width: 1185px;
  left: 50% !important;
  top: 0;
  right: auto !important;
  bottom: auto !important;
  margin-left: -592.5px;
}
.car-block {
  background: rgba(0, 0, 0, 0.54);
  width: 363px;
  height: 240px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0;
  padding-left: 30px;
  padding-top: 33px;
  float: right;
  margin-top: 97px;
  margin-right: -8px;
}
.car-block .head {
  color: #e9e8e9;
  font-family: 'CenturyGothicRegulat';
  font-size: 36px;
  text-align: left;
  line-height: 1.1;
}
.car-block .more {
  display: block;
  float: left;
  font-family: 'centurygothicbold';
  font-size: 18px;
  color: #2e2a30;
  width: 168px;
  height: 43px;
  line-height: 43px;
  text-decoration: none !important;
  background-color: #ffda74;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.car-block .bot {
  margin-top: 40px;
}
.car-block .stat {
  float: left;
  width: 100px;
  margin-left: 20px;
  position: relative;
}
.car-block .number-slide {
  color: #2e2a30;
  margin-left: 28px;
  font-size: 16px;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffda74;
  line-height: 45px;
}
.small-prev,
.small-next {
  position: absolute;
}
.small-prev {
  left: 0;
  top: 0;
}
.small-next {
  right: 0px;
  top: 0;
}
.tovar-item-car {
  width: 100%;
  position: relative;
  margin-top: 21px;
}
.tovar-item-car .carousel-button-left2 a {
  left: 0;
  top: 82px;
}
.tovar-item-car .carousel-button-right2 a {
  right: 0;
  top: 82px;
}
.car-t-wrapper {
  margin: 0 25px;
  overflow: hidden;
  position: relative;
}
.car-t-items {
  width: 10000px;
  position: relative;
}
.car-t-block {
  float: left;
  width: 168px;
}
.time-input {
  position: relative;
}
.time-input:focus + .time-for {
  display: none;
}
.time-for {
  position: absolute;
  margin-top: -31px;
  margin-left: 103px;
  color: #100f10;
  font-size: 16px;
  z-index: 1;
}
.services a {
  text-decoration: none !important;
}
.navbar-default .navbar-nav > li > a {
  font-family: 'MuseoSansBold';
}
