body {
  font-family: Verdana, sans-serif;
  min-width: 1215px;
}
header.header {
  padding-top: 7px;
}
.block-vertical {
  display: table-cell;
  vertical-align: middle;
}
.center-header {
  padding-left: 57px;
}
.enter-links {
  font-family: 'centurygothicbold';
  font-size: 15px;
  margin-top: 48px;
}
.enter-links a {
  color: #2e2a30;
  text-decoration: none !important;
}
.enter-links a:hover {
  border-bottom: 1px solid #2e2a30;
}
.enter-links li {
  float: left;
  margin-right: 20px;
}
.second-field input[type="text"] {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #efefef;
  height: 28px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 10px;
}
.input-search {
  position: relative;
}
.input-search .btn-search {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 2;
  border: 0;
  margin: 0 !important;
  background-color: transparent;
  outline: 0;
}
.input-search .btn-search span {
  color: #523e59;
  font-size: 20px;
}
.bot-list {
  font-size: 15px;
  margin-top: 16px;
}
.bot-list ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
}
.bot-list a {
  color: #100f10;
  text-decoration: none !important;
  border-bottom: 1px dashed #100f10;
  padding-bottom: 5px;
}
.bot-list a:active {
  border: 0;
  border-bottom: 1px dashed #100f10;
  outline: 0;
}
.bot-list a:hover {
  border-bottom-color: transparent;
}
.time-header {
  color: #727272;
  font-size: 13px;
}
.tel-header {
  font-size: 26px;
  color: #ed2024;
}
.tel-header span {
  color: #838383;
}
.get-call {
  display: inline-block;
  color: black !important;
  font-size: 15px;
  text-decoration: none !important;
  padding-bottom: 2px;
  border-bottom: 1px dashed black;
  margin-top: 5px;
}
.get-call:hover {
  border-bottom-color: transparent;
}
.center-link {
  padding-left: 46px;
}
.center-link .globus {
  margin-right: 22px;
  text-decoration: none !important;
}
.right-header {
  padding-left: 60px;
  padding-top: 63px;
}
.navbar {
  margin-top: 18px;
}
.price {
  text-transform: uppercase;
  display: block;
  float: right;
  width: 65px;
  height: 27px;
  background-color: #ed2024;
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 27px;
  margin-top: 9px;
  font-family: 'MuseoSansBold';
}
.carousel-wrapper {
  margin-top: 25px;
}
.carousel-wrapper .small-title {
  color: #523e59;
}
.carousel-wrapper .small-title img {
  margin-right: 7px;
  position: relative;
  top: -3px;
}
.carousel-wrapper .big-title {
  text-transform: uppercase;
}
.carousel-wrapper .big-title h1 {
  font-size: 38px;
  color: #523e59;
  font-family: 'CenturyGothicRegulat';
  margin-top: 30px;
}
.carousel-wrapper .header {
  position: relative;
}
.carousel-wrapper .social {
  position: absolute;
  z-index: 2;
  right: 5px;
  bottom: 13px;
}
.navbar-nav > li {
  padding-right: 47.5px;
}
.my-carousel {
  margin-top: 25px;
  min-width: 1185px;
}
.my-carousel .carousel-control.left,
.my-carousel .carousel-control.right {
  display: none;
}
.my-carousel > .carousel-inner {
  text-align: center;
}
.my-carousel > .carousel-inner img {
  display: inline;
}
.my-carousel .carousel-indicators {
  bottom: 7px;
}
.my-carousel .carousel-indicators li {
  border: 0;
  background: url(../images/indicator.png) no-repeat;
  width: 17px;
  height: 17px;
  margin: 0;
  margin-right: 15px;
}
.my-carousel .carousel-indicators li:hover {
  width: 17px;
  height: 17px;
  background: url(../images/indicator-h.png) no-repeat;
  background-size: contain;
}
.my-carousel .carousel-indicators li.active {
  width: 27px;
  height: 27px;
  position: relative;
  top: 4px;
  background: url(../images/indicator-a.png) no-repeat;
}
.main-content {
  margin-top: 36px;
}
.sidebar {
  padding-right: 64px;
}
.sidebar a {
  color: #100f10;
  text-decoration: none !important;
}
.sidebar a:hover {
  border-bottom: 1px solid #100f10;
}
.sidebar ul {
  list-style-type: disc;
  margin-left: 22px;
}
.sidebar li {
  margin-bottom: 2px;
}
.roof-menu {
  border: 1px solid #c0b5c0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  padding-bottom: 10px;
}
.roof-menu .top-roof {
  margin-bottom: 24px;
}
.sidebar-header {
  font-family: 'centurygothicbold';
  font-size: 18px;
  color: #2e2a30;
  background-color: #f3f3f3;
  padding: 7px 13px;
  margin-bottom: 13px;
  line-height: 1.3;
}
.second-menu {
  margin-top: 20px;
  border: 1px solid #c0b5c0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  padding-bottom: 8px;
}
.center-container {
  margin-left: -7px;
}
.serv-block {
  padding-bottom: 12px;
  border: 1px solid #c0b5c0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.serv-block:hover {
  background-color: #f3f3f3;
  border-color: transparent;
}
.serv-icon {
  text-align: center;
}
.serv-cell {
  width: 400px;
  height: 104px;
  display: table-cell;
  vertical-align: middle;
}
.serv-title {
  font-size: 11px;
  text-align: center;
  color: #100f10;
}
.services .col-xs-3 {
  padding-right: 30px;
}
.services .col-xs-3:nth-child(3) {
  padding-left: 26px;
  padding-right: 19px;
}
.services .col-xs-3:nth-child(2) {
  padding-left: 21px;
  padding-right: 26px;
}
.services .col-xs-3:last-child {
  padding-left: 32px;
  padding-right: 12px;
}
.tovar-wrapper {
  margin-top: 39px;
}
.tovar-wrapper h2 {
  margin-top: 0;
  font-family: 'CenturyGothicRegulat';
  color: #523e59;
}
.tovar {
  margin-top: 36px;
}
.tovar .title {
  position: relative;
}
.tovar .title a {
  font-size: 12px;
  color: #727272;
  text-decoration: none !important;
  position: absolute;
  right: 0;
}
.tovar .title .price-link {
  top: -12px;
}
.tovar .title .price-link span {
  padding-left: 17px;
}
.tovar .title .price-deke {
  top: 30px;
}
.tovar .title .price-icopal {
  top: 0;
}
.tovar .title .download {
  bottom: -4px;
}
.tovar .title .download img {
  margin-left: 12px;
}
.tovar-second {
  margin-top: 63px;
}
.tovar-second .tovar-text {
  margin-top: 20px;
}
.tovar-second .tovar-item {
  margin-top: 22px;
}
.tovar-second .price-link {
  top: 2px !important;
}
.tovar-second .download {
  bottom: -14px !important;
}
.tovar-text {
  margin-top: 16px;
  padding-left: 26px;
  padding-right: 24px;
}
.tovar-text header {
  font-family: 'centurygothicbold';
  text-transform: uppercase;
  color: #2e2a30;
  font-size: 18px;
}
.tovar-text header span {
  font-family: 'CenturyGothicRegulat';
  text-transform: none;
}
.tovar-desc {
  font-size: 14px;
  color: #100f10;
  font-family: Verdana, sans-serif;
  line-height: 1.6;
  margin-top: 5px;
  text-align: justify;
}
.tovar-item {
  margin-top: 15px;
  padding-left: 26px;
  padding-right: 24px;
}
.tovar-item-block {
  float: left;
  width: 20%;
  text-align: center;
  padding-right: 3px;
}
.tovar-item-block:last-child {
  padding-right: 0;
}
.tovar-item-block .item-cell {
  height: 163px;
  width: 400px;
  display: table-cell;
  vertical-align: middle;
}
.tovar-item-block .item-title {
  color: #2e2a30;
  font-size: 15px;
  font-family: 'centurygothicbold';
}
.tovar-item-block .item-star {
  margin-top: 10px;
}
.tovar-item-block .item-star a {
  text-decoration: none !important;
}
.tovar-item-container {
  border: 1px solid #c0b5c0;
  padding-bottom: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.tovar-item-container:hover {
  border-color: #795885;
}
.tovar-item-container .item-img {
  position: relative;
}
.flag {
  display: block;
  position: absolute;
  top: 15px;
  left: 7px;
  width: 71px;
  height: 39px;
  z-index: 2;
  background: url(../images/flag.png) no-repeat;
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.flag span {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
}
.make-request {
  margin-top: 30px;
  background: #654d6f;
  /* Old browsers */
  background: -moz-linear-gradient(top, #654d6f 0%, #5e4866 31%, #514157 68%, #4a3c4e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #654d6f), color-stop(31%, #5e4866), color-stop(68%, #514157), color-stop(100%, #4a3c4e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #654d6f 0%, #5e4866 31%, #514157 68%, #4a3c4e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #654d6f 0%, #5e4866 31%, #514157 68%, #4a3c4e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #654d6f 0%, #5e4866 31%, #514157 68%, #4a3c4e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #654d6f 0%, #5e4866 31%, #514157 68%, #4a3c4e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#654d6f', endColorstr='#4a3c4e', GradientType=0);
  /* IE6-9 */

}
.make-request h1 {
  text-align: center;
  color: #ebebeb;
  font-family: 'centurygothicbold';
  margin-top: 22px;
  padding-left: 10px;
}
.make-request .container {
  padding: 0 70px;
}
.make-request .text {
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
}
.input-container {
  text-align: center;
  font-family: Verdana, sans-serif;
  margin-top: 12px;
}
.input-container p {
  color: white;
  font-size: 16px;
  margin-bottom: 2px;
}
.input-container input {
  width: 285px;
  height: 40px;
  border: 0;
  outline: 0;
  color: #100f10;
  font-size: 16px;
  font-family: Vardana, sans-serif;
  text-align: center;
  background-color: #ebebeb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.input-container .col-lg-4 {
  padding-left: 30px;
}
.input-container .col-lg-4:first-child {
  padding-left: 17px;
}
.input-container .mater-input {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.input-container .mater-input input[type="text"] {
  width: 100%;
  padding-right: 20px;
  text-align: left;
  padding-left: 10px;
}
.s-sub {
  border: 0;
  outline: 0;
  width: 310px;
  height: 60px;
  display: block;
  margin: 26px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ed2024;
  font-size: 30px;
  font-family: 'CenturyGothicRegulat';
  color: white;
  padding: 0;
  padding-bottom: 5px;
}
.input-container input::-webkit-input-placeholder {
  color: #100f10;
}
.input-container input::-moz-placeholder {
  color: #100f10;
}
.input-container input:-moz-placeholder {
  color: #100f10;
}
.input-container input:-ms-input-placeholder {
  color: #100f10;
}
.viewed {
  padding-bottom: 32px;
  border-bottom: 10px solid #523e59;
}
.viewed .center-container {
  margin-left: 0;
}
.viewed-block {
  padding-left: 5px;
}
.viewed-block h2 {
  color: #523e59;
  margin-top: 24px;
  font-family: 'CenturyGothicRegulat';
}
.viewed-block p {
  color: #100f10;
  font-size: 14px;
  line-height: 1.6;
}
.viewed-block .social {
  text-align: right;
  margin-top: 26px;
}
.your-view {
  padding-left: 1px;
  margin-top: -5px;
}
.your-view h2 {
  color: #523e59;
  font-family: 'CenturyGothicRegulat';
  margin-top: 0;
  line-height: 1;
}
.your-view .tovar-item {
  margin-top: 16px;
  padding-left: 5px;
  padding-right: 18px;
}
.item-star span {
  color: #100f10;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.wiki {
  margin-top: 68px;
  margin-bottom: 40px;
}
.wiki .title {
  text-align: center;
  margin-top: -10px;
  position: relative;
  z-index: 2;
}
.wiki .container {
  position: relative;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
}
.wiki .container:before {
  content: "";
  display: block;
  width: 172px;
  height: 47px;
  position: absolute;
  left: 50%;
  margin-left: -90px;
  top: -47px;
  background: url(../images/before.png) no-repeat;
}
.news {
  margin-top: 37px;
  text-align: center;
  padding-bottom: 45px;
}
.news .date {
  color: #727272;
  font-size: 13px;
  padding-top: 3px;
}
.news .head {
  text-align: center;
  font-family: 'centurygothicbold';
  color: #2e2a30;
  font-size: 15px;
  height: 83px;
  padding: 0px 15px;
  line-height: 1.2;
}
.news .head-cell {
  width: 500px;
  height: 70px;
  display: table-cell;
  vertical-align: middle;
}
.news .rating {
  color: #100f10;
  font-size: 14px;
  margin-top: 10px;
}
.news .rating span {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.carousel-tovar {
  width: 100%;
  margin-top: 35px;
  position: relative;
}
.carousel-wrapper-tovar {
  overflow: hidden;
  margin: 0 76px;
}
.carousel-items {
  width: 10000px;
  position: relative;
}
.carousel-block {
  float: left;
  width: 258px;
}
/* .carousel-block img{
	display:block;
} */

/*********** BUTTONS ***********/

.carousel-button-left a,
.carousel-button-right a,
.carousel-button-left2 a,
.carousel-button-right2 a {
  position: absolute;
  top: 52px;
  cursor: pointer;
  text-decoration: none;
}
.carousel-button-left a:active,
.carousel-button-right a:active,
.carousel-button-left2 a:active,
.carousel-button-right2 a:active,
.carousel-button-left a:focus,
.carousel-button-right a:focus,
.carousel-button-left2 a:focus,
.carousel-button-right2 a:focus {
  outline: 0;
  border: 0;
}
.carousel-button-left a {
  left: 37px;
}
.carousel-button-right a {
  right: 37px;
}
.footer {
  padding-top: 24px;
  background: url(../images/footer.jpg) no-repeat 50%;
  background-size: cover;
}
.footer h4 {
  color: #2e2a30;
  font-family: 'centurygothicbold';
  margin-bottom: 14px;
}
.footer p {
  margin-bottom: 0;
}
.footer .links {
  color: #100f10;
  text-decoration: none;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 2px;
}
.footer .top-panel {
  padding-bottom: 19px;
  border-bottom: 1px solid #b3abb5;
}
.footer .bottom-panel {
  border-top: 1px solid #67566e;
  padding-top: 18px;
  padding-bottom: 20px;
}
.foot-list {
  font-size: 14px;
  color: #100f10;
}
.foot-list a {
  color: #100f10;
  text-decoration: none !important;
}
.foot-list a:hover {
  border-bottom: 1px solid #100f10;
}
.foot-list li {
  margin-bottom: 2px;
}
.about-company {
  padding-left: 18px;
}
.how-we-work {
  padding-left: 62px;
}
.catalog {
  padding-left: 61px;
}
.contact-information {
  padding-left: 31px;
}
.contact-information p {
  margin-bottom: 3px;
}
.time-work {
  margin-top: 36px;
  color: #828282;
  font-size: 12px;
}
.tel-foot {
  color: #2e2a30;
  font-size: 24px;
  line-height: 1.3;
}
.tel-foot span {
  color: #838383;
}
.bot-block {
  font-size: 14px;
  color: #100f10;
  margin-top: 41px;
}
.bot-block .left-text {
  padding-left: 18px;
}
.bot-block .master-icon {
  margin-left: 9px;
  position: relative;
  top: -2px;
}
.bot-block .right-text {
  padding-left: 43px;
}
.bot-block .right-text span:nth-child(2) {
  padding-left: 32px;
}
.bot-block .yandex-icon {
  margin-left: 24px;
}
.logo-foot {
  font-size: 14px;
  color: #100f10;
  padding-left: 4px;
}
.logo-foot span {
  position: relative;
  top: 9px;
  padding-left: 6px;
}
.logo-foot a {
  text-decoration: none !important;
}
.foot-social {
  color: #727272;
  font-size: 13px;
  padding-left: 51px;
  margin-top: -7px;
}
.foot-social p {
  margin-bottom: 6px;
}
.flash-land {
  color: #474747 !important;
  font-size: 13px;
  text-decoration: none !important;
}
.flash-land:hover span {
  border-bottom: 1px solid #474747;
}
.flash {
  padding-left: 39px;
  padding-top: 21px;
}
.car-block {
  background: rgba(0, 0, 0, 0.54);
  width: 363px;
  height: 240px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0;
  padding-left: 30px;
  padding-top: 33px;
  float: right;
  margin-top: 97px;
  margin-right: -8px;
}
.car-block .head {
  color: #e9e8e9;
  font-family: 'CenturyGothicRegulat';
  font-size: 36px;
  text-align: left;
  line-height: 1.1;
}
.car-block .more {
  display: block;
  float: left;
  font-family: 'centurygothicbold';
  font-size: 18px;
  color: #2e2a30;
  width: 168px;
  height: 43px;
  line-height: 43px;
  text-decoration: none !important;
  background-color: #ffda74;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.car-block .bot {
  margin-top: 40px;
}
.car-block .stat {
  float: left;
  width: 100px;
  margin-left: 20px;
  position: relative;
}
.car-block .number-slide {
  color: #2e2a30;
  margin-left: 28px;
  font-size: 16px;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffda74;
  line-height: 45px;
}
.small-prev,
.small-next {
  position: absolute;
}
.small-prev {
  left: 0;
  top: 0;
}
.small-next {
  right: 0px;
  top: 0;
}
.tovar-item-car {
  width: 100%;
  position: relative;
  margin-top: 21px;
}
.tovar-item-car .carousel-button-left2 a {
  left: 0;
  top: 82px;
}
.tovar-item-car .carousel-button-right2 a {
  right: 0;
  top: 82px;
}
.car-t-wrapper {
  margin: 0 25px;
  overflow: hidden;
  position: relative;
}
.car-t-items {
  width: 10000px;
  position: relative;
}
.car-t-block {
  float: left;
  width: 168px;
}
.time-input {
  position: relative;
}
.time-input.visible {
  z-index: 10;
}
.time-input:focus + .time-for {
  display: none !important;
}
.input-hint {
  font-weight: 400;
  margin-bottom: 0;
  display: block;
  cursor: text;
}
.time-for {
  position: absolute;
  margin-top: 8px;
  margin-left: 103px;
  color: #100f10;
  font-size: 16px;
  z-index: 1;
}
.time-for:focus + .time-input,
.time-for:active + .time-input {
  z-index: 10;
}
.services a {
  text-decoration: none !important;
}
.placeholder {
  position: relative;
  _zoom: 1;
}
.placeholder label {
  display: block;
  color: #100f10;
  font-size: 16px;
}
.input-text {
  display: block;
  margin: auto;
  position: relative;
}
#js .placeholder label {
  position: absolute;
  top: 9px;
  _top: .45em;
  left: 108px;
  cursor: text;
  z-index: 1;
}
.hide {
  left: -9999em !important;
}
.deke-tovar h2 {
  font-size: 36px;
  font-family: 'centurygothicbold';
}
.h1 {
  font-family: 'CenturyGothicRegulat';
  font-size: 38px;
  color: #523e59;
  text-transform: uppercase;
}
.call_banner {
  height: 290px;
  overflow: hidden;
  margin-top: 15px;
  background: #ececec;
  background: -moz-linear-gradient(90deg, #ececec 0%, white 100%);
  background: -webkit-linear-gradient(90deg, #ececec 0%, white 100%);
  background: -o-linear-gradient(90deg, #ececec 0%, white 100%);
  background: -ms-linear-gradient(90deg, #ececec 0%, white 100%);
  background: linear-gradient(180deg, #ececec 0%, white 100%);
}
.call_banner .container {
  position: relative;
}
.call_banner img {
  position: absolute;
  top: 5px;
  right: 120px;
}
.banner-text {
  width: 490px;
  height: 290px;
  display: table;
  text-align: right;
  font-family: 'AGLettericaCondLRegular';
  font-size: 48px;
  color: #2e2a30;
  line-height: 1.2;
}
.banner-cell {
  display: table-cell;
  vertical-align: middle;
}
.tel-req {
  color: white;
  width: 410px;
  margin: 30px auto;
}
.tel-req p {
  margin-bottom: 0;
}
.tel-req .red-tel,
.tel-req .small-tel {
  float: left;
}
.tel-req .small-tel {
  color: #ebebeb;
  font-family: Verdana, sans-serif;
  font-size: 24px;
  width: 135px;
  line-height: 1.2;
}
.tel-req .small-tel p:last-child {
  font-style: italic;
  font-size: 11px;
}
.tel-req .left-block {
  float: left;
  text-align: right;
  padding-right: 10px;
  border-right: 1px solid #ed2024;
}
.tel-req .right-block {
  float: left;
  padding-left: 5px;
}
.tel-req .big-tel {
  font-size: 45px;
  font-family: Verdana, sans-serif;
  line-height: 1;
}
.make-second {
  padding-top: 20px;
  padding-bottom: 35px;
}
.manager-wrapper {
  width: 820px;
  height: 674px;
  background: url(../images/papka.png) no-repeat;
  padding: 110px 77px 80px 77px;
  margin: auto;
}
.manager-wrapper input[type="text"] {
  width: 540px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  background-color: #ebebeb;
  padding-left: 10px;
  color: #100f10;
  font-family: Verdana, sans-serif;
  font-size: 16px;
}
.manager-wrapper label {
  width: 120px;
  font-weight: normal;
  color: #727272;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}
.manager-wrapper .input-group {
  margin-bottom: 10px;
  width: 100%;
}
.manager-wrapper p {
  color: #727272;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  margin-bottom: 5px;
}
.manager-wrapper .import {
  color: #727272;
  font-size: 13px;
  font-family: Verdana, sans-serif;
  line-height: 1;
}
.manager-wrapper textarea {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  background-color: #ebebeb;
  padding-left: 10px;
  color: #100f10;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  border: 0;
  outline: 0;
  padding-top: 5px;
  resize: none;
}
.manager-wrapper .red {
  color: #ed2024;
}
.manager-wrapper .s-sub {
  float: right;
}
.manager-wrapper h4 {
  font-family: 'centurygothicbold';
  font-size: 18px;
  color: #2e2a30;
  margin-bottom: 15px;
}
.call-manager {
  padding-top: 35px;
  padding-bottom: 50px;
  background: url(../images/bg.png) no-repeat 50%;
  background-size: cover;
}
.consultation {
  background: #efefef;
  background: -moz-linear-gradient(90deg, #efefef 0%, #fdfdfd 100%);
  background: -webkit-linear-gradient(90deg, #efefef 0%, #fdfdfd 100%);
  background: -o-linear-gradient(90deg, #efefef 0%, #fdfdfd 100%);
  background: -ms-linear-gradient(90deg, #efefef 0%, #fdfdfd 100%);
  background: linear-gradient(180deg, #efefef 0%, #fdfdfd 100%);
}
.consultation .container {
  position: relative;
  height: 530px;
}
.consultation img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.cons-text {
  width: 600px;
  float: right;
  font-family: Verdana, sans-serif;
}
.cons-text h1 {
  color: #523e59;
  font-family: 'centurygothicbold';
}
.cons-text p {
  font-size: 14px;
  color: #100f10;
  margin-bottom: 30px;
}
.cons-text h5 {
  font-weight: bold;
  margin-bottom: 20px;
}
.cons-text ul {
  list-style-type: disc;
  margin-left: 15px;
}
.cons-text ul li {
  margin-bottom: 20px;
}
.main-h1 {
  font-family: 'centurygothicbold';
  color: #523e59;
}
.why-we {
  background: #f3f3f3;
  background: -moz-linear-gradient(90deg, #f3f3f3 0%, white 100%);
  background: -webkit-linear-gradient(90deg, #f3f3f3 0%, white 100%);
  background: -o-linear-gradient(90deg, #f3f3f3 0%, white 100%);
  background: -ms-linear-gradient(90deg, #f3f3f3 0%, white 100%);
  background: linear-gradient(180deg, #f3f3f3 0%, white 100%);
  border-top: 10px solid #523e59;
}
.why-container {
  padding: 20px 50px 30px 90px;
}
.why-icon {
  width: 85px;
  height: 85px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 50%;
  background: #e4dfe6;
  text-align: center;
}
.why-text {
  padding-left: 12px;
  display: table-cell;
  vertical-align: middle;
  height: 85px;
  line-height: 1;
}
.why-text h4 {
  color: #2e2a30;
  font-family: 'centurygothicbold';
  margin-bottom: 5px;
}
.why-text p {
  line-height: 1.4;
}
.why-line {
  margin-bottom: 12px;
}
.slides-container {
  background: white;
  margin-bottom: 35px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
}
.review {
  font-family: Verdana, sans-serif;
  font-size: 14px;
}
.review .view-all {
  border: 0;
  font-family: Verdana, sans-serif;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  background: #4a3c4e;
  background: -moz-linear-gradient(270deg, #4a3c4e 0%, #654d6f 100%);
  background: -webkit-linear-gradient(270deg, #4a3c4e 0%, #654d6f 100%);
  background: -o-linear-gradient(270deg, #4a3c4e 0%, #654d6f 100%);
  background: -ms-linear-gradient(270deg, #4a3c4e 0%, #654d6f 100%);
  background: linear-gradient(0deg, #4a3c4e 0%, #654d6f 100%);
}
.review .review-text {
  margin-top: 15px;
  line-height: 1.5;
}
.review .star {
  margin-top: 15px;
}
.review header {
  padding: 30px 100px;
}
.person {
  line-height: 1;
}
.person p {
  margin-bottom: 7px;
}
.person .name {
  margin-bottom: 7px;
  font-weight: bold;
}
.review-item {
  padding: 0 100px;
}
.slides-control {
  position: absolute;
  width: 20px;
  height: 68px;
  top: 50%;
  margin-top: -34px;
}
.right.slides-control {
  right: 35px;
}
.left.slides-control {
  left: 35px;
}
.review-send {
  padding: 0 100px;
}
.review-send .s-sub {
  float: right;
}
.project-item {
  padding: 0 100px;
}
.project-item .info {
  color: #100f10;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  line-height: 1;
  height: 75px;
}
.project-item .info p:first-child {
  color: #2e2a30;
  font-size: 15px;
  font-family: 'centurygothicbold';
}
.project-item .info p {
  margin-bottom: 7px;
}
.project-item .proj-text {
  font-size: 14px;
  color: #100f10;
  font-family: Verdana, sans-serif;
}
.project-item .show-more {
  float: right;
  display: inline-block;
  font-size: 14px;
  color: #100f10;
  margin-top: 10px;
  line-height: 1.1;
  font-family: Verdana, sans-serif;
  border-bottom: 1px solid #100f10;
}
.project-item header {
  height: 75px;
}
.proj-img {
  text-align: center;
  color: #2e2a30;
  font-size: 15px;
  font-family: 'centurygothicbold';
  padding-right: 50px;
}
.after-car {
  padding: 0 100px;
}
.view-proj {
  padding-right: 50px;
  text-align: center;
  margin-top: 25px;
}
.view-proj .view-all {
  border: 0;
  font-family: Verdana, sans-serif;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  background: #4a3c4e;
  background: -moz-linear-gradient(270deg, #4a3c4e 0%, #654d6f 100%);
  background: -webkit-linear-gradient(270deg, #4a3c4e 0%, #654d6f 100%);
  background: -o-linear-gradient(270deg, #4a3c4e 0%, #654d6f 100%);
  background: -ms-linear-gradient(270deg, #4a3c4e 0%, #654d6f 100%);
  background: linear-gradient(0deg, #4a3c4e 0%, #654d6f 100%);
}
.project {
  padding-top: 10px;
  padding-bottom: 20px;
}
.project .s-sub {
  float: right;
  margin-top: 20px;
}
.project .main-h1 {
  text-align: center;
}
.project-carousel {
  margin-top: 40px;
}
.rating .star {
  position: relative;
  top: -2px;
}
.toogle-link {
  position: relative;
  text-align: center;
  padding-top: 65px;
}
.toogle-link a {
  font-family: 'CenturyGothicRegulat';
  font-size: 30px;
  color: #999899;
  border-bottom: 1px dashed #a0a0a0;
  text-decoration: none !important;
}
.toogle-link a.active,
.toogle-link a:hover {
  color: #523e59;
  border-bottom: 1px solid #523e59;
}
.delivery-carousel {
  background: #f3f3f3;
  padding-bottom: 30px;
}
.delivery-carousel .tovar-item-car .carousel-button-left2 a,
.delivery-carousel .tovar-item-car .carousel-button-right2 a {
  top: 50%;
  margin-top: -34px;
}
.delivery h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 38px;
  font-family: 'CenturyGothicRegulat';
  color: #523e59;
  margin-bottom: 35px;
  margin-top: 0;
}
.toggle-img {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 43%;
}
.mat-c-block {
  width: 228px;
  padding-right: 6px;
}
.mat-c-block .tovar-item-container {
  height: 255px;
  padding-top: 10px;
}
.mat-t-wrapper {
  padding-top: 20px;
}
.mat-col {
  width: 64px;
  height: 61px;
  background: url(../images/mat-col.png) no-repeat;
  position: absolute;
  z-index: 2;
  top: -20px;
  left: 50%;
  margin-left: -32px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.3;
}
.mat-col span {
  font-weight: 800;
  font-size: 18px;
}
.mat-tovar {
  margin-top: 0;
}
.mat-text {
  padding: 20px 0;
}
.mat-text h4 {
  color: #2e2a30;
  font-family: 'centurygothicbold';
  margin-top: 0;
}
.mat-text .col-md-6:first-child {
  padding-right: 30px;
}
.mat-text .col-md-6:last-child {
  padding-left: 40px;
}
.advantages {
  background: url(../images/advantages.jpg) no-repeat 50%;
  background-size: cover;
  padding-bottom: 30px;
}
.advantages h2 {
  font-size: 30px;
  color: #523e59;
  font-family: 'CenturyGothicRegulat';
}
.advantages .number {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #e5e5e5;
  text-align: center;
  color: #312535;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 5px;
}
.adv-block {
  text-align: center;
}
.adv-block .adv-title {
  color: #2e2a30;
  font-size: 22px;
  font-family: 'centurygothicbold';
  line-height: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.adv-block .adv-title span {
  font-size: 14px;
}
.adv-block .adv-img {
  height: 115px;
  position: relative;
}
.adv-block .adv-text {
  color: #100f10;
  font-size: 14px;
}
.adv-block .adv-star {
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  right: -30px;
  z-index: 2;
}
.pros-img {
  display: table;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  table-layout: fixed;
  background-color: #e4dfe6;
  text-align: center;
}
.pros-img img {
  max-width: 100%;
  height: auto;
}
.pros-img-center {
  display: table-cell;
  vertical-align: middle;
}
.pros-text {
  color: #100f10;
  font-size: 14px;
  display: table;
  height: 88px;
}
.pros-text .title {
  color: #2e2a30;
  font-size: 18px;
  font-family: 'centurygothicbold';
  line-height: 1.1;
}
.pros-block {
  margin-bottom: 10px;
}
.left-adv {
  padding-right: 30px;
}
.pros-work-container {
  padding-left: 30px;
}
.sliders-wrapper {
  padding: 40px 0;
}
.sliders-wrapper .container {
  width: 950px !important;
}
.sliders-wrapper .main-h2 {
  padding-left: 25px;
}
.sliders-wrapper header {
  position: relative;
}
.sliders-wrapper .view-all {
  position: absolute;
  z-index: 2;
  right: 25px;
  bottom: 0;
  font-size: 14px;
  color: #100f10;
  text-decoration: underline;
}
.main-h2 {
  font-family: 'CenturyGothicRegulat';
  color: #523e59;
  margin-top: 0;
}
.main-h2 span {
  font-size: 18px;
}
.bx-item {
  text-align: center;
  width: 177px;
  padding-right: 15px;
}
.bx-item .item-star {
  margin-top: 20px;
}
.bx-item-container {
  border: 1px solid #c0b5c0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
.bx-title {
  width: 100%;
  height: 75px;
  display: table;
  font-family: 'centurygothicbold';
  font-size: 15px;
  color: #2e2a30;
}
.bx-title span {
  text-transform: uppercase;
}
.baket-icon {
  display: block;
  width: 35px;
  height: 35px;
  background: url(../images/basket-icon.png) no-repeat;
}
.bx-price {
  display: table;
  width: 100%;
  height: 55px;
  text-align: left;
  border-top: 1px dashed #a0a0a0;
  margin-top: 10px;
}
.bx-price .bx-number {
  color: #100f10;
  font-size: 24px;
}
.bx-price .bx-number span {
  font-size: 16px;
}
.best-img {
  position: relative;
  text-align: center;
}
.best-img .new-icon {
  position: absolute;
  right: -5px;
  top: 5px;
  z-index: 2;
}
.best-img .main-best-img {
  max-width: 100%;
  height: auto;
}
.new_releases .car-t-block {
  width: 177px;
}
.new_releases .tovar-item-block {
  padding-right: 15px;
}
.bestsellers {
  padding-bottom: 40px;
}
.bestsellers .tovar-item-car .carousel-button-right2 a,
.bestsellers .tovar-item-car .carousel-button-left2 a {
  top: 50%;
  margin-top: -34px;
}
.new_releases {
  padding-bottom: 40px;
}
.new_releases .title h2 {
  display: inline-block;
}
.new_releases .tovar-item-car {
  margin-top: 10px;
}
.shares .car-t-block {
  width: 440px;
  padding-right: 15px;
}
.shares .left-block {
  width: 225px;
  float: left;
  text-align: left;
  padding-left: 35px;
}
.shares .left-block h5 {
  color: #2e2a30;
  font-size: 15px;
  font-family: 'centurygothicbold';
  line-height: 1.4;
  margin-top: 0;
}
.shares .show-more {
  position: absolute;
  bottom: 15px;
  left: 35px;
  color: #100f10;
  font-size: 14px;
  border-bottom: 1px solid #100f10;
  text-decoration: none !important;
}
.shares .right-block {
  width: 195px;
  float: right;
}
.shares .tovar-item-container {
  padding-top: 20px;
  position: relative;
  height: 255px;
  padding-bottom: 0;
}
.file-top {
  text-align: left;
  overflow: hidden;
  width: 224px;
  height: 42px;
  line-height: 40px;
  background: url(../images/file.png) no-repeat;
  cursor: pointer;
  padding-left: 50px;
  float: left;
}
.file-text {
  color: #100f10;
  font-size: 16px;
  cursor: pointer;
}
#file,
#file-btn {
  margin-top: -50px;
  width: auto;
  margin-left: -410px;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 150px;
  height: 100px;
  cursor: pointer;
}
.file-block {
  padding-left: 20px;
  padding-top: 25px;
  padding-right: 20px;
}
.file-btn {
  width: 49px;
  height: 42px;
  background: url(../images/file-btn.png) no-repeat;
  overflow: hidden;
  float: right;
}
.main-h1 {
  font-size: 38px;
  font-family: 'CenturyGothicRegulat';
  text-align: center;
  text-transform: uppercase;
  color: #523e59;
  margin-top: 0;
}
.roofing {
  background: #f3f3f3;
  padding-top: 40px;
}
.main-h4 {
  margin-top: 0;
  font-family: 'centurygothicbold';
  color: #2e2a30;
}
.text-container p {
  font-size: 14px;
  color: #100f10;
  line-height: 1.6;
}
.builder {
  position: relative;
}
.builder-men {
  position: absolute;
  left: 20px;
  bottom: -112px;
  z-index: 2;
}
.text-container {
  padding-top: 20px;
  padding-right: 30px;
}
.formula {
  border-top: 10px solid #523e59;
  background: url(../images/formula-bg.jpg) no-repeat 50%;
  background-size: cover;
}
.formula-container {
  padding-top: 45px;
}
.formula-container h1 {
  font-family: 'centurygothicbold';
  font-size: 38px;
  color: #523e59;
  margin-top: 0;
  padding-left: 65px;
}
.formula-block {
  text-align: center;
  position: relative;
  padding: 0 20px;
}
.formula-block .for-title {
  color: #2e2a30;
  font-size: 18px;
  font-family: 'centurygothicbold';
  line-height: 1.3333333;
}
.for-img {
  display: table;
  width: 100%;
  height: 85px;
}
.plus {
  font-family: "centurygothicbold";
  font-size: 48px;
  color: #523e59;
  position: absolute;
  z-index: 2;
  right: -10px;
  top: 10px;
  line-height: 1;
}
.formula-view {
  padding-top: 30px;
}
.finish-img {
  position: relative;
  top: -75px;
}
.building {
  background: white;
}
.building .delivery-carousel {
  background: white;
}
.building .toogle-link {
  text-align: left;
  padding-top: 25px;
}
.building .toggle-img {
  top: 25px;
  left: 44%;
}
.b-link-left {
  float: right;
  margin-right: 90px;
}
.b-link-right {
  margin-left: 120px;
}
.foot-text {
  background: white;
}
.small-social {
  text-align: right;
  margin-top: 30px;
}
.text-container-big {
  padding-right: 0;
}
.product_card_wrapper .main-h1 {
  text-align: left;
  margin-bottom: 0;
}
.product_wrappper {
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  padding: 20px 30px;
}
.product_wrappper .title {
  position: relative;
}
.brand-logo {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 8px;
}
.code-brand {
  text-align: right;
  color: 14px;
  color: #727272;
}
.card-container {
  margin-top: 35px;
}
.card-container .col-xs-9 {
  width: 70%;
}
.card-container .col-xs-3 {
  width: 30%;
}
.product-slides {
  text-align: center;
  width: 575px;
  margin: 30px auto;
}
.sidebar-product {
  padding-left: 25px;
}
.garanty {
  display: table;
  margin-bottom: 30px;
  width: 100%;
  height: 70px;
  background-color: white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size: 18px;
  color: #ed2024;
  font-family: 'centurygothicbold';
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
}
.side-price {
  padding: 25px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
}
.side-price .title {
  margin-bottom: 40px;
}
.side-price .title label {
  font-size: 18px;
  font-family: 'centurygothicbold';
  color: #2e2a30;
  font-weight: 400;
}
#amount {
  border: 0;
  float: right;
  text-align: right;
  font-weight: bold;
  font-size: 30px;
  width: 70%;
  color: #2e2a30;
  line-height: 1.1;
}
.minus-quantity {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/minus.png) no-repeat;
  cursor: pointer;
}
.plus-quantity {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(../images/plus.png) no-repeat;
}
.quantity-input {
  display: block;
  border: 1px solid #ececec;
  outline: 0;
  width: 60px;
  height: 30px;
  padding-left: 5px;
  font-size: 16px;
  color: #100f10;
  margin-left: 3px;
  margin-right: 4px;
  -webkit-box-shadow: inset 0px 3px 8px -4px #b4b3b3;
  -moz-box-shadow: inset 0px 3px 8px -4px #b4b3b3;
  box-shadow: inset 0px 3px 8px -4px #b4b3b3;
}
.quantity {
  margin-top: 25px;
  padding-bottom: 20px;
  padding-left: 40px;
  border-bottom: 1px solid #c0b5c0;
}
.add-link .s-sub {
  width: 100%;
}
.add-link .add-fav {
  width: 100%;
  color: #523e59;
  font-size: 15px;
  padding-left: 35px;
  border-radius: 5px;
  background: #e4dfe6 url(../images/favorites.png) no-repeat 12%;
}
.view-modal img {
  display: block;
  float: left;
}
.view-modal div {
  display: block;
  float: left;
  width: 70%;
  padding-left: 15px;
  padding-top: 5px;
}
.view-3d {
  font-family: 'centurygothicbold';
  font-size: 15px;
  color: #100f10;
}
.compare {
  border-top: 1px solid #c0b5c0;
  padding-top: 20px;
}
.del-call-disabled {
  font-size: 14px;
  color: #b7b7b7;
  margin: 20px 0;
}
.view-modal {
  margin-top: 30px;
}
.product-content {
  border-top: 4px solid #523e59;
  margin-top: 85px;
  background-color: #f3f3f3;
}
.product-list {
  list-style: disc;
  margin-left: 25px;
  margin-top: 20px;
}
.product-list a {
  font-size: 14px;
  color: #100f10;
}
.product-list li {
  margin-bottom: 15px;
}
.side-menu {
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.side-menu header {
  height: 45px;
  text-align: center;
  line-height: 45px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #ececec;
  font-size: 15px;
  background-color: #523e59;
  font-family: 'centurygothicbold';
}
.acces-content .col-xs-3 {
  width: 21%;
}
.acces-content .col-xs-9 {
  width: 79%;
}
.subscribe {
  width: 240px;
  height: 271px;
  background: url(../images/subscription.png) no-repeat;
  position: relative;
  margin: auto;
  margin-top: 20px;
}
.paper-text {
  width: 218px;
  height: 120px;
  margin: auto;
  text-align: center;
  color: #100f10;
  font-size: 12px;
  padding: 10px;
}
.subscribe-form {
  width: 190px;
  margin: auto;
  padding-top: 10px;
}
.subscribe-form p {
  font-size: 15px;
  color: white;
  text-align: center;
}
.subscribe-form .s-sub {
  width: 100%;
  height: 50px;
  font-size: 24px;
  margin: 0;
  margin-top: 20px;
}
.subscribe-form input[type="text"] {
  width: 100%;
  outline: 0;
  border: 0;
  text-align: center;
  font-size: 15px;
  color: #100f10;
}
.center-col {
  padding-left: 20px;
}
.filter-link {
  font-size: 14px;
  padding-top: 30px;
}
.filter-link a {
  display: inline-block;
  margin-right: 20px;
  color: #100f10;
  border-bottom: 1px dashed #100f10;
  text-decoration: none !important;
}
.view-link {
  display: inline-block;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.view1 {
  background: url(../images/view1.png) no-repeat;
}
.view2 {
  background: url(../images/view2.png) no-repeat;
}
.view3 {
  background: url(../images/view3.png) no-repeat;
}
