@import "../less/variables.less";


body{
	font-family: @font-family-verdana;
	min-width: 1215px;
}

header.header{
	padding-top: 7px;
}
.block-vertical{
	display: table-cell;
	vertical-align: middle;
}

.center-header{
	padding-left: 57px;
}

.enter-links{
	font-family: 'centurygothicbold';
	font-size: 15px;
	margin-top: 48px;

		a{
			color: #2e2a30;
			text-decoration: none !important;

				&:hover{
					border-bottom: 1px solid #2e2a30;
				}
		}
		li{
			float: left;
			margin-right: 20px;
		}
}

.second-field{
	input[type="text"]{
		width: 100%;
		border:0;
		outline: 0;
		background-color: #efefef;
		height: 28px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			     border-radius: 5px;
		padding-left: 10px;
	}
}

.input-search{
	position: relative;

		.btn-search{
			position: absolute;
			right: 3px;
			top:3px;
			z-index: 2;
			border: 0;
			margin: 0 !important;
			background-color: transparent;
			outline: 0;

				span{
					color: @nav-active;
					font-size: 20px;
				}
		}
}

.bot-list{
	font-size: 15px;
	margin-top: 16px;

		ul{
			display: flex;
		   justify-content: space-between;
		   flex-direction: row;
		   align-items: stretch;
		}

		a{
			color: @text-color;
			text-decoration: none !important;
			border-bottom: 1px dashed @text-color;
			padding-bottom: 5px;

				&:active{
					border:0;
					border-bottom: 1px dashed @text-color;
					outline: 0;
				}
				&:hover{
					border-bottom-color: transparent;
				}
		}
}

.time-header{
	color: #727272;
	font-size: 13px;
}
.tel-header{
	font-size: 26px;
	color: #ed2024;

		span{
			color: #838383;
		}
}

.get-call{
	display: inline-block;
	color: #000 !important;
	font-size: 15px;
	text-decoration: none !important;
	padding-bottom: 2px;
	border-bottom: 1px dashed #000;
	margin-top: 5px;

		&:hover{
			border-bottom-color: transparent;
		}
}

.center-link{
	padding-left: 46px;

		.globus{
			margin-right: 22px;
			text-decoration: none !important;
		}
}

.right-header{
	padding-left: 60px;
   padding-top: 63px;
}

.navbar{
	margin-top: 18px;
}

.price{
	text-transform: uppercase;
	display: block;
	float: right;
	width: 65px;
	height: 27px;
	background-color: #ed2024;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 27px;
	margin-top: 9px;
	font-family: 'MuseoSansBold';
}

.carousel-wrapper{
	margin-top: 25px;

		.small-title{
			color: @nav-active;

				img{
					margin-right: 7px;
					position: relative;
					top: -3px;
				}
		}
		.big-title{
			text-transform: uppercase;

				h1{
					font-size: 38px;
					color: @nav-active;
					font-family: 'CenturyGothicRegulat';
					margin-top: 30px;
				}
		}
		.header{
			position: relative;
		}
		.social{
			position: absolute;
			z-index: 2;
			right: 5px;
   		bottom: 13px;
		}
}

.navbar-nav > li{
	padding-right: 47.5px;
} 


.my-carousel{
	margin-top: 25px;
	min-width: 1185px;

		.carousel-control.left,
		.carousel-control.right{
			display: none;
		}

		> .carousel-inner{
			text-align: center;

				img{
					display: inline;
				}
		}
		.carousel-indicators{
			bottom: 7px;

				li{
					border:0;
					background: url(../images/indicator.png)no-repeat;
					width: 17px;
					height: 17px;
					margin: 0;
					margin-right: 15px;

						&:hover{
							width: 17px;
							height: 17px;
							background: url(../images/indicator-h.png)no-repeat;
							background-size: contain;
						}
						&.active{
							width: 27px;
							height: 27px;
							position: relative;
							top: 4px;
							background: url(../images/indicator-a.png)no-repeat;
						}
				}
		}
		
}

.main-content{
	margin-top: 36px;
}
.sidebar{
	padding-right: 64px;

		a{
			color: @text-color;
			text-decoration: none !important;

				&:hover{
					border-bottom: 1px solid @text-color;
				}
		}
		ul{
			list-style-type: disc;
			margin-left: 22px;
		}
		li{
			margin-bottom: 2px;
		}
}
.roof-menu{
	border: 1px solid #c0b5c0;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	        border-radius: 5px;
	font-size: 14px;
	padding-bottom: 10px;

		.top-roof{
			margin-bottom: 24px;
		}
}

.sidebar-header{
	font-family: 'centurygothicbold';
	font-size: 18px;
	color: #2e2a30;
	background-color: #f3f3f3;
	padding: 7px 13px;
	margin-bottom: 13px;
	line-height: 1.3;
}

.second-menu{
	margin-top: 20px;
	border: 1px solid #c0b5c0;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	        border-radius: 5px;
	font-size: 14px;
	padding-bottom: 8px;
}

.center-container{
	margin-left: -7px;
}

.serv-block{
	padding-bottom: 12px;
	border: 1px solid #c0b5c0;
	-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
	        transition: all 0.2s ease;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	        border-radius: 5px;

		&:hover{
			background-color: #f3f3f3;
			border-color: transparent;
		}
}

.serv-icon{
	text-align: center;
}
.serv-cell{
	width: 400px;
	height: 104px;
	display: table-cell;
	vertical-align: middle;
}
.serv-title{
	font-size: 11px;
	text-align: center;
	color: @text-color;
}

.services .col-xs-3{
	padding-right: 30px;

		&:nth-child(3){
			padding-left: 26px;
    		padding-right: 19px;
		}
		&:nth-child(2){
			padding-left: 21px;
         padding-right: 26px;
		}
		&:last-child{
			padding-left: 32px;
    		padding-right: 12px;
		}
}

.tovar-wrapper{
	margin-top: 39px;

		h2{
			margin-top: 0;
			font-family: 'CenturyGothicRegulat';
			color: @nav-active;
		}
}

.tovar{
	margin-top: 36px;

	.title{
		position: relative;

			a{
				font-size: 12px;
				color: #727272;
				text-decoration: none !important; 
				position: absolute;
				right:0;
			}

			.price-link{
				top: -12px;

					span{
						padding-left: 17px;
					}
			}
			.price-deke{
				top:30px;
			}
			.price-icopal{
				top:0;
			}
			.download{
				bottom: -4px;

					img{
						margin-left: 12px;
					}
			}
	}
}

.tovar-second{
	margin-top: 63px;

		.tovar-text{
			margin-top: 20px;
		}
		.tovar-item{
			margin-top: 22px;
		}
		.price-link{
			top: 2px !important;
		}
		.download{
			bottom: -14px !important;
		}
}

.tovar-text{
	margin-top: 16px;
   padding-left: 26px;
   padding-right: 24px;

		header{
			font-family: 'centurygothicbold';
			text-transform: uppercase;
			color: #2e2a30;
			font-size: 18px;

				span{
					font-family: 'CenturyGothicRegulat';
					text-transform: none;
				}
		}
}
.tovar-desc{
	font-size: 14px;
	color: @text-color;
	font-family: Verdana,sans-serif;
	line-height: 1.6;
	margin-top: 5px;
	text-align: justify;
}
.tovar-item{
	margin-top: 15px;
	padding-left: 26px;
   padding-right: 24px;
}

.tovar-item-block{
	float: left;
	width: 20%;
	text-align: center;
	padding-right: 3px;

		&:last-child{
			padding-right: 0;
		}

	 .item-cell{
	 	height:163px;
	 	width: 400px;
	 	display: table-cell;
	 	vertical-align: middle;
	 }
	 .item-title{
	 	color: #2e2a30;
	 	font-size: 15px;
	 	font-family: 'centurygothicbold';
	 }
	 .item-star{
	 	margin-top: 10px;

	 		a{
	 			text-decoration: none !important;
	 		}
	 }
}
.tovar-item-container{
	border: 1px solid #c0b5c0;
	padding-bottom: 14px;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	        border-radius: 5px;

	       &:hover{
	       	border-color: #795885;
	       }

	        	.item-img{
	        		position:relative;
	        	}
}
.flag{
	display: block;
	position: absolute;
	top: 15px;
	left: 7px;
	width: 71px;
	height:39px;
	z-index: 2;
	background: url(../images/flag.png)no-repeat;
	color: #fff;
	font-family: Verdana,sans-serif;
	font-size: 16px;
	font-weight: bold;


	    span{
			font-family: Arial,sans-serif;
			font-size: 12px;
			font-style: italic;
	    }
}


.make-request{
	margin-top: 30px;
	background: #654d6f; /* Old browsers */
	background: -moz-linear-gradient(top,  #654d6f 0%, #5e4866 31%, #514157 68%, #4a3c4e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#654d6f), color-stop(31%,#5e4866), color-stop(68%,#514157), color-stop(100%,#4a3c4e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #654d6f 0%,#5e4866 31%,#514157 68%,#4a3c4e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #654d6f 0%,#5e4866 31%,#514157 68%,#4a3c4e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #654d6f 0%,#5e4866 31%,#514157 68%,#4a3c4e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #654d6f 0%,#5e4866 31%,#514157 68%,#4a3c4e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#654d6f', endColorstr='#4a3c4e',GradientType=0 ); /* IE6-9 */
		
		&.make-install{
			padding-bottom: 40px;
			.container{
				padding: 0 150px;
			}
		}
		h1{
			text-align: center;
			color: #ebebeb;
			font-family: 'centurygothicbold';
			margin-top: 22px;
    	   padding-left: 10px;
		}
		.container{
			padding: 0 70px;
		}
		.text{
			text-align: center;
			color: #fff;
			font-size: 16px;
			font-family: @font-family-verdana;
			line-height: 1.5;
		}
}

.input-container{
	text-align: center;
	font-family: Verdana,sans-serif;
	margin-top: 12px;

		&.with-textarea{
			text-align: left;
			position: relative;
			padding-top: 10px;
			padding-left: 10px;

				.s-sub{
					position: absolute;
					right: 10px;
					bottom:0;
					z-index: 2;
					margin: 0;
				}
		}

		p{
			color: #fff;
			font-size: 16px;
			margin-bottom: 2px;
		}
		input[type="text"]{
			width: 285px;
			height: 40px;
			border: 0;
			outline: 0;
			color: @text-color;
			font-size: 16px;
			font-family: Vardana,sans-serif;
			text-align: center;
			background-color: #ebebeb;
			border-radius: @border-radius-middle;
		}
		textarea{
			border-radius: @border-radius-middle;
			resize: none;
			border:0;
			outline:0;
			width: 550px;
			height:120px;
			background-color: #ebebeb;
			color: @text-color;
			font-family: Vardana,sans-serif;
			text-align: left;
			padding-left: 10px;
			padding-top: 5px;
		}
		.col-lg-4{
			padding-left: 30px;

				&:first-child{
					padding-left: 17px;
				}
		}
		.mater-input{
			text-align: left;
			padding-left: @line-height-computed;
			padding-right: @line-height-computed;

				input[type="text"]{
					width: 100%;
					padding-right: @line-height-computed;
					text-align: left;
					padding-left: @padding-large-vertical;
				}
		}
}

.s-sub{
	border:0;
	outline: 0;
	width: 310px;
	height: 60px;
	display: block;
	margin: 26px auto;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: #ed2024;
	font-size: 30px;
	font-family: 'CenturyGothicRegulat';
	color: #fff;
	padding: 0;
	padding-bottom: 5px;


}

.input-container input::-webkit-input-placeholder {color:@text-color;}
.input-container input::-moz-placeholder          {color:@text-color;}
.input-container input:-moz-placeholder           {color:@text-color;}
.input-container input:-ms-input-placeholder      {color:@text-color;}

.viewed{
	padding-bottom: 32px;
	border-bottom: 10px solid @nav-active;
}
.viewed .center-container{
	margin-left: 0;
}
.viewed-block{
	padding-left: 5px;

	h2{
		color: @nav-active;
		margin-top: 24px;
		font-family: 'CenturyGothicRegulat';
	}
	p{
		color: @text-color;
		font-size: 14px;
		line-height: 1.6;
	}
	.social{
		text-align: right;
		margin-top: 26px;
	}
}

.your-view{
	padding-left: 1px;
	margin-top: -5px;

	h2{
		color: @nav-active;
		font-family: 'CenturyGothicRegulat';
		margin-top: 0;
		line-height: 1;
	}
	.tovar-item {
	    margin-top: 16px;
	    padding-left: 5px;
	    padding-right: 18px;
	}
}

.item-star span{
	color: @text-color;
	font-size: 14px;
	position: relative;
	top: 2px;
}
.item-star a{
	text-decoration: none !important;
}
.wiki{
	margin-top: 68px;
	margin-bottom: 40px;

		.title{
			text-align: center;
			margin-top: -10px;
		   position: relative;
		   z-index: 2;
		}
		.container{
			position: relative;
			-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
			-moz-box-shadow:    0px 0px 18px 0px rgba(0, 0, 0, 0.18);
			box-shadow:         0px 0px 18px 0px rgba(0, 0, 0, 0.18);

				&:before{
					content: "";
					display: block;
					width: 172px;
					height: 47px;
					position: absolute;
					left: 50%;
					margin-left: -90px;
					top: -47px;
					background: url(../images/before.png)no-repeat;
				}
		}
}
.news{
	margin-top: 37px;
   text-align: center;
   padding-bottom: 45px;

		.date{
			color: #727272;
			font-size: 13px;
			padding-top: 3px;
		}
		.head{
			text-align: center;
			font-family: 'centurygothicbold';
			color: #2e2a30;
			font-size: 15px;
			height: 83px;
			padding: 0px 15px;
    		line-height: 1.2;
		}
		.head-cell{
			width: 500px;
			height: 70px;
			display: table-cell;
			vertical-align: middle;
		}
		.rating{
			color: @text-color;
			font-size: 14px;
			margin-top: 10px;

				span{
					position: relative;
					top: 2px;
					margin-right: 5px;
				}
		}

}




.carousel-tovar  {
   width:100%;
   margin-top: 35px;
   position: relative;
}
.carousel-wrapper-tovar {
   overflow: hidden;
 	margin: 0 76px;
}
.carousel-items {
   width: 10000px; 
   position: relative;
}
.carousel-block {
   float: left;
   width: 258px;
} 
/* .carousel-block img{
	display:block;
} */

/*********** BUTTONS ***********/
.carousel-button-left a, 
.carousel-button-right a,
.carousel-button-left2 a,
.carousel-button-right2 a
{
   position: absolute;
	top: 52px;
   cursor: pointer; 
   text-decoration:none;

   	&:active,
   	&:focus{
   		outline: 0;
   		border:0;
   	}
}

.carousel-button-left a{
	left: 37px;
}
.carousel-button-right a{
	right: 37px;
}

.footer{
	padding-top: 24px;
	background: url(../images/footer.jpg)no-repeat 50%;
	background-size: cover;

		h4{
			color: #2e2a30;
			font-family: 'centurygothicbold';
			margin-bottom: 14px;
		}
		p{
			margin-bottom: 0;
		}
		.links{
			color: @text-color;
			text-decoration: none;
			text-decoration: underline;
			display: inline-block;
			margin-bottom: 2px;
		}
		.top-panel{
			padding-bottom: 19px;
			border-bottom: 1px solid #b3abb5;
		}
		.bottom-panel{
			border-top: 1px solid #67566e;
			padding-top: 18px;
			padding-bottom: 20px;
		}
}
.foot-list{
	font-size: 14px;
	color: @text-color;

		a{
			color: @text-color;
			text-decoration: none !important;

				&:hover{
					border-bottom: 1px solid @text-color;
				}
		}
		li{
			margin-bottom: 2px;
		}
}

.about-company{
	padding-left: 18px;
}

.how-we-work{
	padding-left: 62px;
}
.catalog{
	padding-left: 61px;
}
.contact-information{
	padding-left: 31px;

		p{
			margin-bottom: 3px;
		}
}

.time-work{
	margin-top: 36px;
	color: #828282;
	font-size: 12px;
}
.tel-foot{
	color: #2e2a30;
	font-size: 24px;
	line-height: 1.3;

		span{
			color: #838383;
		}
}

.bot-block{
	font-size: 14px;
	color: @text-color;
	margin-top: 41px;

		.left-text{
			padding-left: 18px;
		}
		.master-icon{
			margin-left: 9px;
			position: relative;
			top:-2px;
		}
		.right-text{
			padding-left: 43px;

				span:nth-child(2){
					padding-left: 32px;
				}
		}
		.yandex-icon{
			margin-left: 24px;
		}
}

.logo-foot{
	font-size: 14px;
	color: @text-color;
	padding-left: 4px;

		span{
			position: relative;
		    top: 9px;
		    padding-left: 6px;
		}
		a{
			text-decoration: none !important;
		}
}
.foot-social{
	color: #727272;
	font-size: 13px;
	padding-left: 51px;
   margin-top: -7px;

   	p{
   		margin-bottom: 6px;
   	}
}
.flash-land{
	color: #474747 !important;
	font-size: 13px;
	text-decoration: none !important;

		&:hover span{
			border-bottom: 1px solid #474747;
		}
}
.flash{
	padding-left: 39px;
   padding-top: 21px;
}



.car-block{
	 background: rgba(0,0,0,0.54);
    width: 363px;
    height: 240px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0;
    padding-left: 30px;
    padding-top: 33px;
    float: right;
    margin-top: 97px;
    margin-right: -8px;

		.head{
			color: #e9e8e9;
			font-family: 'CenturyGothicRegulat';
			font-size: 36px;
			text-align: left;
			line-height: 1.1;
		}
		.more{
			display: block;
			float: left;
			font-family: 'centurygothicbold';
			font-size: 18px;
			color: #2e2a30;
			width: 168px;
			height: 43px;
			line-height: 43px;
			text-decoration: none !important;
			background-color: #ffda74;
			-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
			        border-radius: 5px;
		}
		.bot{
			margin-top: 40px;
		}
		.stat{
			float: left;
			width: 100px;
			margin-left: 20px;
			position: relative;
		}
		.number-slide{
			color: #2e2a30;
			margin-left: 28px;
			font-size: 16px;
			width: 45px;
			height: 45px;
			text-align: center;
			border-radius: 50%;
			background-color: #ffda74;
			line-height: 45px;
		}
}
.small-prev,
.small-next{
	position: absolute;
}
.small-prev{
	left: 0;
	top:0;
}
.small-next{
	right: 0px;
	top:0;
}


.tovar-item-car  {
   width:100%;
   position: relative;
   margin-top: 21px;

   	.carousel-button-left2 a{
   		left:0;
   		top: 82px;
   	}
   	.carousel-button-right2 a{
   		right: 0;
   		top: 82px;
   	}
}
.car-t-wrapper{
   margin: 0 25px; 
   overflow: hidden; 
   position:relative;
}
.car-t-items {
   width: 10000px;
   position: relative; 
}
.car-t-block {
   float: left;
   width: 168px;
}
.time-input{
	position: relative;
}
	.time-input.visible{
		z-index: 10;
	}
.time-input:focus + .time-for{
	display: none !important;
}
.input-hint{
	font-weight: 400;
	margin-bottom: 0;
	display: block;
	cursor: text;
}
.time-for{
	 position: absolute;
    margin-top: 8px;
    margin-left: 103px;
    color: @text-color;
    font-size: 16px;
    z-index: 1;

    	&:focus + .time-input,
    	&:active + .time-input{
    		z-index: 10;
    	}
}

.services a{
	text-decoration: none !important;
}



.placeholder {
  position:relative;
  _zoom:1;

  		label{
  			display:block;
  			color: @text-color;
      	font-size: 16px;
  		}	
 }
 .input-text {
   display:block;
   margin: auto;
   position:relative;
}

  #js .placeholder label {
      position:absolute;
      top: 9px;
      _top:.45em;
      left: 108px;
      cursor:text;
      z-index:1;
      }
		.hide {left:-9999em !important;}



.deke-tovar h2{
	font-size: 36px;
	font-family: 'centurygothicbold';
}

.h1{
	font-family: 'CenturyGothicRegulat';
	font-size: 38px;
	color:#523e59;
	text-transform: uppercase;
}
.call_banner{
	height: 290px;
	overflow: hidden;
	margin-top: 15px;
	background: rgb(236, 236, 236);
	background: -moz-linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);
	background: -webkit-linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);
	background: linear-gradient(180deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);

		.container{
			position: relative;
		}

		img{
			position: absolute;
			top: 5px;
			right: 120px;
		}
}
.banner-text{
	width: 490px;
	height: 290px;
	display:table;
	text-align: right;
	font-family: 'AGLettericaCondLRegular';
	font-size: 48px;
	color: @text-color-second;
	line-height: 1.2;
}
.banner-cell{
	display:table-cell;
	vertical-align: middle;
}

.tel-req{
	color: #fff;
	width: 410px;
	margin: 30px auto;

		p{
			margin-bottom: 0;
		}

		.red-tel,
		.small-tel{
			float: left;
		}
		.small-tel{
			color: #ebebeb;
			font-family: @font-family-verdana;
			font-size: 24px;
			width: 135px;
			line-height: 1.2;

				p:last-child{
					font-style: italic;
					font-size: 11px;
				}
		}
		.left-block{
			float: left;
			text-align: right;
			padding-right: 10px;
			border-right: 1px solid #ed2024;
		}
		.right-block{
			float: left;
			padding-left: 5px;
		}
		.big-tel{
			font-size: 45px;
			font-family: @font-family-verdana;
			line-height: 1;
		}
}
.make-second{
	padding-top: 20px;
	padding-bottom: 35px;
}
.manager-wrapper{
	width: 820px;
	height: 674px;
	background: url(../images/papka.png)no-repeat;
	padding: 110px 77px 80px 77px;
	margin: auto;

		input[type="text"]{
			width: 540px;
			height: 40px;
			border-radius: 5px;
			border:0;
			outline: 0;
			background-color: #ebebeb;
			padding-left: 10px;
			color: #100f10;
			font-family: @font-family-verdana;
			font-size: 16px;
		}
		label{
			width: 120px;
			font-weight: normal;
			color: #727272;
			font-size: 16px;
			font-family: @font-family-verdana;
		}
		.input-group{
			margin-bottom: 10px;
			width: 100%;
		}
		p{
			color: #727272;
			font-size: 16px;
			font-family: @font-family-verdana;
			margin-bottom: 5px;
		}
		.import{
			color: #727272;
			font-size: 13px;
			font-family: @font-family-verdana;
			line-height: 1;
		}
		textarea{
			width: 100%;
			height: 120px;
			border-radius: 5px;
			background-color: #ebebeb;
			padding-left: 10px;
			color: #100f10;
			font-family: @font-family-verdana;
			font-size: 16px;
			border:0;
			outline: 0;
			padding-top: 5px;
			resize:none;
		}
		.red{
			color: #ed2024;
		}
		.s-sub{
			float: right;
		}
		h4{
			font-family: 'centurygothicbold';
			font-size: @font-size-large;
			color: @text-color-second;
			margin-bottom: 15px;
		}
}
.call-manager{
	padding-top: 35px;
	padding-bottom: 50px;
	background: url(../images/bg.png)no-repeat 50%;
	background-size: cover;
}

.consultation{
	background: rgb(239, 239, 239);
	background: -moz-linear-gradient(90deg, rgb(239, 239, 239) 0%, rgb(253, 253, 253) 100%);
	background: -webkit-linear-gradient(90deg, rgb(239, 239, 239) 0%, rgb(253, 253, 253) 100%);
	background: -o-linear-gradient(90deg, rgb(239, 239, 239) 0%, rgb(253, 253, 253) 100%);
	background: -ms-linear-gradient(90deg, rgb(239, 239, 239) 0%, rgb(253, 253, 253) 100%);
	background: linear-gradient(180deg, rgb(239, 239, 239) 0%, rgb(253, 253, 253) 100%);

		.container{
			position: relative;
			height:530px;
		}
		img{
			position: absolute;
			left: 0;
			bottom:0;
		}
}
.cons-text{
	width: 600px;
	float: right;
	font-family: @font-family-verdana;

		h1{
			color: @nav-active;
			font-family: 'centurygothicbold';
		}
		p{
			font-size: @font-size-base;
			color: #100f10;
			margin-bottom: 30px;
		}
		h5{
			font-weight: bold;
			margin-bottom: 20px;
		}
		ul{
			list-style-type: disc;
			margin-left: 15px;

				li{
					margin-bottom: 20px;
				}
		}
}
.main-h1{
	font-family: 'centurygothicbold';
	color: @nav-active;
}

.why-we{
	background: rgb(243, 243, 243);
	background: -moz-linear-gradient(90deg, rgb(243, 243, 243) 0%, rgb(255, 255, 255) 100%);
	background: -webkit-linear-gradient(90deg, rgb(243, 243, 243) 0%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(90deg, rgb(243, 243, 243) 0%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(90deg, rgb(243, 243, 243) 0%, rgb(255, 255, 255) 100%);
	background: linear-gradient(180deg, rgb(243, 243, 243) 0%, rgb(255, 255, 255) 100%);
	border-top: 10px solid @nav-active;
}
.why-container{
	padding: 20px 50px 30px 90px;
}
.why-icon{
	width: 85px;
	height: 85px;
	display: table-cell;
	vertical-align: middle;
	border-radius: 50%;
	background: #e4dfe6;
	text-align: center;
}
.why-text{
	padding-left: 12px;
	display: table-cell;
	vertical-align: middle;
	height: 85px;
	line-height: 1;

		h4{
			color: @text-color-second;
			font-family: 'centurygothicbold';
			margin-bottom: 5px;
		}
		p{
			line-height: 1.4;
		}
}
.why-line{
	margin-bottom: 12px;
}

.slides-container{
	background:#fff;
	margin-bottom: 35px;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow:    0px 0px 18px 0px rgba(0, 0, 0, 0.18);
	box-shadow:         0px 0px 18px 0px rgba(0, 0, 0, 0.18);	
}

.review{
	font-family: @font-family-verdana;
   font-size: @font-size-base;

		.view-all{
			border:0;
			font-family: @font-family-verdana;
			color: #fff;
			margin-top: 10px;
			font-size: 16px;
			background: rgb(74, 60, 78);
			background: -moz-linear-gradient(270deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
			background: -webkit-linear-gradient(270deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
			background: -o-linear-gradient(270deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
			background: -ms-linear-gradient(270deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
			background: linear-gradient(0deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
		}
		.review-text{
			margin-top: 15px;
			line-height: 1.5;

		}
		.star{
			margin-top: 15px;
		}
		header{
			padding: 30px 100px;
		}
}

.person{
	line-height: 1;

		p{
			margin-bottom: 7px;
		}
		.name{
			margin-bottom: 7px;
			font-weight: bold;
		}
}
.review-item{
	padding: 0 100px;
}

.slides-control{
	position: absolute;
	width: 20px;
	height: 68px;
	top: 50%;
	margin-top: -34px;
}
.right.slides-control{
	right:35px;
}
.left.slides-control{
	left: 35px;
}
.review-send{
	padding: 0 100px;

		.s-sub{
			float: right;
		}
}

.project-item{
	padding: 0 100px;

		.info{
			color: @text-color;
			font-size: @font-size-base;
			font-family: @font-family-verdana;
			line-height: 1;
			height: 75px;

				p:first-child{
					color: @text-color-second;
					font-size: 15px;
					font-family: 'centurygothicbold';
				}
				p{
					margin-bottom: 7px;
				}
		}
		.proj-text{
			font-size: @font-size-base;
			color: @text-color;
			font-family: @font-family-verdana;
		}
		.show-more{
			float: right;
			display: inline-block;
			font-size: @font-size-base;
			color: @text-color;
			margin-top: 10px;
			line-height: 1.1;
			font-family: @font-family-verdana;
			border-bottom: 1px solid @text-color;
		}
		header{
			height: 75px;
		}
}
.proj-img{
	text-align: center;
	color: @text-color-second;
	font-size: 15px;
	font-family: 'centurygothicbold';
	padding-right: 50px;
}
.after-car{
	padding: 0 100px;
}

.view-proj{
	padding-right: 50px;
	text-align: center;
	margin-top: 25px;

		.view-all{
			border:0;
			font-family: @font-family-verdana;
			color: #fff;
			margin-top: 10px;
			font-size: 16px;
			background: rgb(74, 60, 78);
			background: -moz-linear-gradient(270deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
			background: -webkit-linear-gradient(270deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
			background: -o-linear-gradient(270deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
			background: -ms-linear-gradient(270deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
			background: linear-gradient(0deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
		}
}
.project{
	padding-top: 10px;
	padding-bottom: 20px;

	.s-sub{
		float: right;
		margin-top: 20px;
	}
	.main-h1{
		text-align: center;

	}
}

.project-carousel{
	margin-top: 40px;
}
.rating .star{
	position: relative;
	top: -2px;
}

.toogle-link{
	position: relative;
	text-align: center;
	padding-top: 65px;

		a{
			font-family: 'CenturyGothicRegulat';
			font-size: 30px;
			color: #999899;
			border-bottom: 1px dashed #a0a0a0;
			text-decoration: none !important;

				&.active,
				&:hover{
					color: @nav-active;
					border-bottom: 1px solid @nav-active;
				}
		}
}
.delivery-carousel{
	background: #f3f3f3;
	padding-bottom: 30px;

		.tovar-item-car .carousel-button-left2 a,
		.tovar-item-car .carousel-button-right2 a{
			top: 50%;
			margin-top: -34px;
		}
}

.delivery{

		h1{
			text-align: center;
			text-transform: uppercase;
			font-size: 38px;
			font-family: 'CenturyGothicRegulat';
			color: @nav-active;
			margin-bottom: 35px;
			margin-top: 0;
		}
}

.toggle-img{
	position: absolute;
	z-index: 2;
	top: 30px;
	left: 43%;

}


.mat-c-block{
	width: 228px;
	padding-right: 6px;	

		.tovar-item-container{
			height:255px;
			padding-top: 10px;
		}
}
.mat-t-wrapper{
	padding-top: 20px;
}

.mat-col{
	width: 64px;
	height: 61px;
	background: url(../images/mat-col.png)no-repeat;
	position: absolute;
	z-index: 2;
	top: -20px;
	left: 50%;
	margin-left: -32px;
	color: #fff;
	font-family: Arial,sans-serif;
	font-size: 12px;
	line-height: 1.3;

		span{
			font-weight: 800;
			font-size: 18px;
		}
}
.mat-tovar{
	margin-top: 0;
}

.mat-text{
	padding: 20px 0;

		h4{
			color: @text-color-second;
			font-family: 'centurygothicbold';
			margin-top: 0;
		}
		.col-md-6:first-child{
			padding-right: 30px;
		}
		.col-md-6:last-child{
			padding-left: 40px;
		}
}
.advantages{
	background: url(../images/advantages.jpg)no-repeat 50%;
	background-size: cover;
	padding-bottom: @grid-gutter-width;

		h2{
			font-size: 30px;
			color:@nav-active;
			font-family: 'CenturyGothicRegulat';
		}
		.number{
			display: inline-block;
			width: 30px;
			height:30px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			background-color: #e5e5e5;
			text-align: center;
			color:#312535;
			font-size: 14px;
			line-height: 26px;
			margin-bottom: 5px;
		}
}
.adv-block{
	text-align: center;

		.adv-title{
			color:@text-color-second;
			font-size: 22px;
			font-family: 'centurygothicbold';
			line-height: 16px;
			margin-top: 15px;
			margin-bottom: 10px;

				span{
					font-size: 14px;
				}
		}
		.adv-img{
			height:115px;
			position: relative;
		}
		.adv-text{
			color: @text-color;
			font-size: 14px;
		}
		.adv-star{
			position: absolute;
			top:50%;
			margin-top: -7.5px;
			right:-30px;
			z-index: 2;
		}
}
.pros-img{
	display: table;
	width: 88px;
	height: 88px;
	border-radius: 50%;
	table-layout: fixed;
	background-color: #e4dfe6;
	text-align: center;

		img{
			max-width: 100%;
			height:auto;
		}
}
.pros-img-center{
	display: table-cell;
	vertical-align: middle;
}
.pros-text{
	color: @text-color;
	font-size: @font-size-base;
	display: table;
	height: 88px;

		.title{
			color:@text-color-second;
			font-size: 18px;
			font-family: 'centurygothicbold';
			line-height: @headings-line-height;
		}
}
.pros-block{
	margin-bottom: @padding-large-vertical;
}
.left-adv{
	padding-right: @grid-gutter-width;
}
.pros-work-container{
	padding-left: @grid-gutter-width;
}
.sliders-wrapper{
	padding: 40px 0;

		.container{
			width: 950px !important;
		}
		.main-h2{
			padding-left: 25px;
		}
		header{
			position: relative;
		}
		.view-all{
			position: absolute;
			z-index: 2;
			right:25px;
			bottom: 0;
			font-size: @font-size-base;
			color: @text-color;
			text-decoration: underline;
		}
}
.main-h2{
	font-family: 'CenturyGothicRegulat';
	color: @nav-active;
	margin-top: 0;

		span{
			font-size: @font-size-large;
		}
}
.bx-item{
	text-align: center;
	width: 177px;
	padding-right: 15px;
	
		.item-star{
			margin-top: 20px;
		}
}
.bx-item-container{
	border: 1px solid #c0b5c0;
	-webkit-border-radius: @tooltip-arrow-width;
	-moz-border-radius: @tooltip-arrow-width;
	border-radius: @tooltip-arrow-width;
	padding: @tooltip-arrow-width;
}
.bx-title{
	width: 100%;
	height: 75px;
	display: table;
	font-family: 'centurygothicbold';
	font-size: @modal-inner-padding;
	color: @text-color-second;

		span{
			text-transform: uppercase;
		}
}
.baket-icon{
	display: block;
	width: 35px;
	height: 35px;
	background: url(../images/basket-icon.png)no-repeat;
}
.bx-price{
	display: table;
	width: 100%;
	height: 55px;
	text-align: left;
	border-top: 1px dashed #a0a0a0;
	margin-top: @padding-large-vertical;

		.bx-number{
			color: @text-color;
			font-size: @font-size-h3;

				span{
					font-size: @padding-large-horizontal;
				}
		}
}
.best-img{
	position: relative;
	text-align: center;

		.new-icon{
			position: absolute;
			right:-5px;
			top: 5px;
			z-index: 2;
		}
		.delete-icon{
			position: absolute;
			right:6px;
			top: 1px;
			z-index: 2;
			cursor: pointer;
		}
		.main-best-img{
			max-width: 100%;
			height: auto;
		}
}
.new_releases{
	.car-t-block{
		width: 177px;
	}
	.tovar-item-block{
		padding-right: 15px;
	}
}
.bestsellers{
	padding-bottom: 40px;
}
.bestsellers .tovar-item-car .carousel-button-right2 a,
.bestsellers .tovar-item-car .carousel-button-left2 a{
	top:50%;
	margin-top: -34px;
}

.new_releases{
	padding-bottom: 40px;
	.title{
		h2{
			display:inline-block;
		}
	}
	.tovar-item-car{
		margin-top: 10px;
	}
}
.shares{
	.car-t-block{
		width: 440px;
		padding-right: 15px;
	}
	.left-block{
		width: 225px;
		float:left;
		text-align: left;
		padding-left: 35px;

			h5{
				color: @text-color-second;
				font-size: 15px;
				font-family: 'centurygothicbold';
				line-height: 1.4;
				margin-top: 0;
			}
	}
	.show-more{
		position: absolute;
		bottom: 15px;
		left:35px;
		color: @text-color;
		font-size: 14px;
		border-bottom: 1px solid @text-color;
		text-decoration: none !important;
	}
	.right-block{
		width: 195px;
		float: right;
	}
	.tovar-item-container{
		padding-top: @line-height-computed;
		position: relative;
		height:255px;
		padding-bottom: 0;
	}
}
.file-top{
	text-align: left; 
	overflow: hidden;
	width: 224px; 
	height: 42px;
	line-height: 40px; 
	background: url(../images/file.png)no-repeat;
	cursor: pointer;
	padding-left: 50px;
	float: left;

}
.file-text{
	color: @text-color; 
	font-size: 16px;
	cursor: pointer;
}
#file,
#file-btn{
	margin-top: -50px; 
	width: auto; 
	margin-left:-410px; 
	-moz-opacity: 0; 
	filter: alpha(opacity=0); 
	opacity: 0; 
	font-size: 150px; 
	height: 100px;
	cursor: pointer;
}
.file-block{
	padding-left: 20px;
	padding-top: 25px;
	padding-right: 20px;
}
.file-btn{
	width:49px;
	height: 42px;
	background: url(../images/file-btn.png)no-repeat;
	overflow: hidden;
	float: right;
}
.main-h1{
	font-size: 38px;
	font-family: 'CenturyGothicRegulat';
	text-align: center;
	text-transform: uppercase;
	color: @nav-active;
	margin-top: 0;
}
.roofing{
	background: #f3f3f3;
	padding-top: 40px;
}
.main-h4{
	margin-top: 0;
	font-family: 'centurygothicbold';
	color: @text-color-second;
}
.text-container{
	p{
		font-size: @font-size-base;
		color: @text-color;
		line-height: 1.6;
	}
}
.builder{
	position: relative;
}
.builder-men{
	position: absolute;
	left: 20px;
	bottom: -112px;
	z-index: 2;
}
.text-container{
	padding-top: 20px;
	padding-right: 30px;
}
.formula{
	border-top: 10px solid @nav-active;
	background: url(../images/formula-bg.jpg)no-repeat 50%;
	background-size: cover;
}
.formula-container{
	padding-top: 45px;
	h1{
		font-family: 'centurygothicbold';
		font-size: 38px;
		color:@nav-active;
		margin-top: 0;
		padding-left: 65px;
	}
}
.formula-block{
	text-align: center;
	position: relative;
	padding:0 20px;

		.for-title{
			color:@text-color-second;
			font-size: 18px;
			font-family: 'centurygothicbold';
			line-height: @line-height-large;
		}
}
.for-img{
	display: table;
	width: 100%;
	height: 85px;
}
.plus{
	font-family: "centurygothicbold";
	font-size: 48px;
	color: #523E59;
	position: absolute;
	z-index: 2;
	right: -10px;
	top: 10px;
	line-height: 1;
}
.formula-view{
	padding-top: 30px;
}
.finish-img{
	position: relative;
	top: -75px;
}

.building{
	background:#fff;

		.delivery-carousel{
			background:#fff;
		}
		.toogle-link{
			text-align: left;
			padding-top: 25px;
		}
		.toggle-img{
			top: 25px;
			left: 44%;
		}
}

.b-link-left{
	float: right;
	margin-right: 90px;
}
.b-link-right{
	margin-left: 120px;
}
.foot-text{
	background: #fff;

}
.small-social{
	text-align: right;
	margin-top: 30px;
}
.text-container-big{
	padding-right: 0;
}

.product_card_wrapper{
	.main-h1{
		text-align: left;
		margin-bottom: 0;
	}
}
.product_wrappper{
	background-color: #fff;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
				border-radius: 5px;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow:    0px 0px 18px 0px rgba(0, 0, 0, 0.18);
	box-shadow:         0px 0px 18px 0px rgba(0, 0, 0, 0.18);
	padding: 20px 30px;

		.title{
			position: relative;
		}
}
.brand-logo{
	position: absolute;
	z-index: 2;
	right: 0;
	top: 8px;
}
.code-brand{
	text-align: right;
	color: @font-size-base;
	color: #727272;
}
.card-container{
	margin-top: 35px;

		.col-xs-9{
			width: 70%;
		}
		.col-xs-3{
			width: 30%;
		}
}
.product-slides{
	text-align: center;
	width: 575px;
	margin: 30px auto;
}
.sidebar-product{
	padding-left: 25px;
}
.garanty{
	display:table;
	margin-bottom: 30px;
	width:100%;
	height: 70px;
	background-color: #fff;
	-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
				border-radius: 50px;
	font-size: @font-size-large;
	color: #ed2024;
	font-family: 'centurygothicbold';
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow:    0px 0px 18px 0px rgba(0, 0, 0, 0.18);
	box-shadow:         0px 0px 18px 0px rgba(0, 0, 0, 0.18);
}
.side-price{
	padding: 25px 20px;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
			  border-radius: 5px;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow:    0px 0px 18px 0px rgba(0, 0, 0, 0.18);
	box-shadow:         0px 0px 18px 0px rgba(0, 0, 0, 0.18);

		.title{
			margin-bottom: 40px;

				label{
					font-size: @font-size-large;
					font-family: 'centurygothicbold';
					color: @text-color-second;
					font-weight: 400;
				}
		}
}

#amount{
	border:0;
	float: right;
	text-align: right;
	font-weight: bold;
	font-size: 30px;
	width: 70%;
	color: @text-color-second;
	line-height: @headings-line-height;
}
.minus-quantity{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../images/minus.png)no-repeat;
	cursor: pointer;
}
.plus-quantity{
	display: block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(../images/plus.png)no-repeat;
}
.quantity-input{
	display: block;
	border: 1px solid #ececec;
	outline:0;
	width: 60px;
	height: 30px;
	padding-left: 5px;
	font-size: 16px;
	color: @text-color;
	margin-left: 3px;
	margin-right: 4px;
	-webkit-box-shadow: inset 0px 3px 8px -4px rgba(180, 179, 179, 1);
	-moz-box-shadow:    inset 0px 3px 8px -4px rgba(180, 179, 179, 1);
	box-shadow:         inset 0px 3px 8px -4px rgba(180, 179, 179, 1)
}
.quantity{
	margin-top: 25px;
	padding-bottom: 20px;
	padding-left: 40px;
	border-bottom: 1px solid #c0b5c0;
}
.add-link{
	.s-sub{
		width: 100%;
	}
	.add-fav{
		width: 100%;
		color: @nav-active;
		font-size: 15px;
		padding-left: 35px;
		border-radius: 5px;
		background: #e4dfe6 url(../images/favorites.png)no-repeat 12%;
	}
}
.view-modal{
	img{
		display: block;
		float: left;
	}
	div{
		display: block;
		float: left;
		width: 70%;
		padding-left: 15px;
		padding-top: 5px;
	}
}
.view-3d{
	font-family: 'centurygothicbold';
	font-size: 15px;
	color: @text-color;
}
.compare{
	border-top: 1px solid #c0b5c0;
	padding-top: 20px;
}
.del-call-disabled{
	font-size: @font-size-base;
	color: #b7b7b7;
	margin: 20px 0;
}
.view-modal{
	margin-top: 30px;
}
.product-content{
	border-top: 4px solid @nav-active;
	margin-top: 85px;
	padding-bottom: 20px;
	background-color: #f3f3f3;
}
.product-list{
	list-style: disc;
	margin-left: 25px;
	margin-top: 20px;

		a{
			font-size: 14px;
			color: @text-color;
		}
		li{
			margin-bottom: 15px;
		}
}
.side-menu{
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 15px;

		header{
			height: 45px;
			text-align: center;
			line-height: 45px;
			-webkit-border-radius: 5px 5px 0 0;
			-moz-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;
			color: #ececec;
			font-size: 15px;
			background-color: @nav-active;
			font-family: 'centurygothicbold';
		}
}
.acces-content{
	> .col-xs-3{
		width: 21%;
	}
	> .col-xs-9{
		width: 79%;
	}
}
.subscribe{
	width: 240px;
	height: 271px;
	background: url(../images/subscription.png)no-repeat;
	position: relative;
	margin: auto;
	margin-top: 20px;
}
.paper-text{
	width: 218px;
	height:120px;
	margin: auto;
	text-align: center;
	color: @text-color;
	font-size: 12px;
	padding: 10px;
}
.subscribe-form{
	width: 190px;
	margin: auto;
	padding-top: 10px;

		p{
			font-size: 15px;
			color: #fff;
			text-align: center;
		}

		.s-sub{
			width: 100%;
			height: 50px;
			font-size: 24px;
			margin: 0;
			margin-top: 20px;
		}
		input[type="text"]{
			width: 100%;
			outline:0;
			border:0;
			text-align: center;
			font-size: 15px;
			color: @text-color;
		}
}
.center-col{
	padding-left: 20px;
}

.filter-link{
	font-size: 14px;
	padding-top: 30px;
	a{
		display: inline-block;
		margin-right: 20px;
		color: @text-color;
		border-bottom: 1px dashed @text-color;
		text-decoration: none !important;
	}
}

.view-link{
	display: inline-block;
	width: 26px;
	height: 26px;
	cursor: pointer;
}
.view1{
	background: url(../images/view1.png)no-repeat;
}
.view2{
	background: url(../images/view2.png)no-repeat;
}
.view3{
	background: url(../images/view3.png)no-repeat;
}
.sort-container{
	margin-top: 35px;
}

.slct {
	display: block;
	border: 1px solid #ececec;
	background: #fff url(../images/select-drop.png)no-repeat 96% 10px;
	width: 195px;
	height: 28px;
	font-family: Verdana,sans-serif;
	font-size: 14px;
	color: @text-color !important;
	text-decoration: none !important;
	overflow: hidden;
	white-space:nowrap;
	line-height: 24px;
	padding-left: 5px;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-box-shadow:  0px 5px 9px -4px rgba(180, 179, 179, 0.5) inset;
	-moz-box-shadow:  0px 5px 9px -4px rgba(180, 179, 179, 0.5) inset;
	box-shadow:  0px 5px 9px -4px rgba(180, 179, 179, 0.5) inset;	
}

.drop {
	margin: 0;
	padding: 0;
	width: 195px;
	border: 1px solid #cecece;
	border-top: none;
	display: none;
	position: absolute;
	background: #fff;

		li{
			list-style: none;
			border-top: 1px dotted #e8e8e8;
			cursor: pointer;
			display: block;
			color: #444;
			padding: 4px 15px 4px 25px;

				&:hover{
					background-color: #e8e8e8;
					color: #222;
				}
		}
}
.show-view{
	.title{
		color: #727272;
		font-size: 13px;
	}
	li{
		float: left;
		height: 31px;
		line-height: 30px;
		padding-left: 10px;
		padding-right: 10px;
		background: url(../images/view-border.png)no-repeat 100%;

			a{
				display: block;
				height: 100%;
				color: @text-color;
				cursor: pointer;
			}
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				font-size: 13px;
				color: #727272;
				background: none;
				padding-right: 0;
			}
	}
	.size-20{
		font-size: 14px;
	}
	.size-30{
		font-size: 18px;
	}
	.size-50{
		font-size: 22px;
	}
}
.garanty-text{
	background-color: @nav-active;
	padding: 15px 0;
	text-align: center;
}
.gar-block{
	h1{
		color: #fff;
		display: inline-block;
		line-height: 1;
		margin: 0;
		position: relative;
			p{
				text-transform: uppercase;
				line-height: 1;
				margin-bottom: 0;
				font-size: 48px;
				font-family: 'CenturyGothicRegulat';
			}
			span{
				font-size: 14px;
				text-align: right;
				display: block;
				font-family: 'centurygothicbold';
			}
		&:after{
			content: "!";
			display: block;
			right: -30px;
			top: -6px;
			position: absolute;
			z-index: 2;
			font-family: 'CenturyGothicRegulat';
			font-size: 78px;
			color: #fff;
		}
	}
}
.also-view{
	padding: 40px 0;

		.your-view{
			padding-left: 160px;
		}
		.tovar-item-block{
			padding-right: 15px;
			width: 180px;
		}
}
.social-block{
	text-align: right;
}
.write-review{
	.left-block{
		float: left;
		width: 525px;
		height: 625px;
		text-align: center;
		padding-top: 60px;
		background-color: #fff;
		border-radius: @border-radius-middle;
		box-shadow:0px 0px 18px 0px rgba(0, 0, 0, 0.18);
		position: relative;

			h4{
				margin-top: 50px;
				margin-bottom: 15px;
				color: @text-color-second;
				font-family: 'centurygothicbold';
			}
			p{
				margin-bottom: 25px;
				color: @text-color;
				font-size: 14px;
			}
			.link{
				margin-bottom: 25px;

					a{
						color: @text-color;
						font-size: 14px;
						border-bottom: 1px solid @text-color;
						text-decoration: none !important;
					}
				
			}
	}
	.right-block{
		float: right;
		width: 645px;
		background-color: #fff;
		border-radius: @border-radius-middle;
		height: 625px;
		box-shadow:0px 0px 18px 0px rgba(0, 0, 0, 0.18);
		padding: 30px 30px 30px 50px;
	}
	.autor-text{
		width: 395px;
		float: left;
		border: 2px dashed #ed2024;
		border-radius: @border-radius-middle;
		padding: 8px 10px;
		color: @text-color;
		font-size: 14px;
	}
	.enter-block{
		float: right;
		width: 145px;

			.s-sub{
				width: 100%;
				margin: 0;
				padding: 0;
				line-height: 60px;
				font-size: 24px;
			}	
	}
}
.fastener-top{
	position: absolute;
	z-index: 2;
	top: 35px;
	right: -30px;
}
.fastener-bottom{
	position: absolute;
	z-index: 2;
	bottom: 55px;
	right: -30px;
}
.view-content{
   background-color: #fff;
   padding: 30px;
   padding-bottom: 0;
   border-radius: @border-radius-middle;

      .bx-item{
         width: 171px;
         margin-bottom: 40px;
         padding-right: 7px !important;
      }
}
.submit-group{
   .s-sub{
      float: right;
      width: 270px;
      margin: 0;
      font-size: 24px;
      padding: 0;
   }
   .cancel{
   	float: left;
   }
}
.get-review-form{
	margin-top: 30px;

		.rating{
			margin-bottom: 20px;
			padding-top: 10px;

			.title{
				width: 110px;
				padding-top: 8px;
				float: left;
				color: @text-color-second;
				font-size: 15px;
				font-family: 'centurygothicbold';
			}
			.star{
				float: right;
			}
		}
}
.submit-group{
	margin-top: 20px;
}
.desc-wrapper{
	background-color: #fff;
	border-radius: @border-radius-middle;
	padding: 30px 15px;

		h4{
			margin: 0;
			color: @text-color-second;
			font-family: 'centurygothicbold';
		}
}
.table-container{
	margin-top: 20px;
}
.instructions{
	font-size: 14px;
	color: @text-color;
	ul{
		margin-top: 20px;
	}
	li{
		position: relative;
		padding-left: 35px;
		margin-bottom: 15px;
	}
	a{
		color: @text-color;
		text-decoration: none !important;
		border-bottom: 1px solid @text-color;
	}
	.pdf{
		&:before{
			content: "";
			display: block;
			width: 25px;
			height: 25px;
			background: url(../images/pdf.png)no-repeat;
			position: absolute;
			left:0;
			top: 50%;
			margin-top: -12.5px;
		}
	}
	.rar{
		&:before{
			content: "";
			display: block;
			width: 22px;
			height: 18px;
			background: url(../images/rar.png)no-repeat;
			position: absolute;
			left:0;
			top: 50%;
			margin-top: -9px;
		}
	}
}
.desc-text-block{
	margin-top: 10px;

		p{
			color: @text-color;
			font-size: 14px;
			margin-top: 10px;
			margin-bottom: 0;
			line-height: 1.6;
		}
}
.adv-img-block{
	float: left;
	width: 80px;
}
.adv-title-block{
	float: left;
	width: 178px;
	color: #ed2024;
	font-size: 15px;
	font-family: 'centurygothicbold';
}
.adv-title{
	display: table;
	width: 100%;
	height: 70px;
}
.adv-img{
	display: table;
	width: 100%;
	height: 70px;
}

.advantages-container{
	.col-xs-3:first-child{
		width: 23%;

			.adv-title-block{
				width: 155px;
			}
	}
	.col-xs-3:last-child{
		width: 27%;

			.adv-title-block{
				width: 200px;
			}
	}
}
.advantages-wrapper{
	background-color: #fff;
	border-radius: @border-radius-middle;
	margin-top: 40px;
	padding: 20px 15px;
}
.calculator{
	background-color: #fff;
	box-shadow:0px 0px 18px 0px rgba(0, 0, 0, 0.18);
	padding: 40px 10px 30px 60px;
	font-size: 14px;
	color: @text-color;

		h1{
			text-align: center;
			color: @nav-active;
			margin-top: 0;
			margin-bottom: 20px;
			font-family: 'centurygothicbold';
		}
		p{
			line-height: 1.6;
		}
		.s-sub{
			margin: 26px 0;
			width: 620px;
			line-height: 60px;
			font-size: 27px;
		}
}

progress{
	border: 0;
	background: #b8b8b8;
	width: 170px;
	height: 15px;
	display: block;
}
progress::-moz-progress-bar{
	background: #ed2024;
}
progress::-webkit-progress-bar { background: #b8b8b8; }
progress::-webkit-progress-value { background: #ed2024; }

.star-list{
	width: 100%;
	td{
		vertical-align: middle;
		padding: 5px 0;

			&:first-child{
				width: 85px;
				color: @text-color-second;
				font-size: 15px;
				font-family: 'centurygothicbold';
			}
	}
	progress{
		position: relative;
		top: 2px;
	}
}
.top-block-review{
	padding-bottom: 25px;
	border-bottom: 1px solid #c0b5c0;
	.item-star{
		margin-bottom: 10px;
	}
	.col-xs-6{
		text-align: center;
	}
	.title{
		color: @text-color;
		font-size: @font-size-base;
	}
	.tovar-name{
		color: @text-color-second;
		font-size: 15px;
		font-family: 'centurygothicbold';
		margin: 45px 0;
	}
	.tovar-code{
		color: #727272;
		font-size: @font-size-base;
	}
	.s-sub{
		width: 100%;
		line-height: 56px;
		padding: 0;
		font-size: 30px;
		margin-top: 55px;
	}
}
.panel-review{
	margin-top: 40px;
}
.header-review{
	.main-h2{
		display: inline-block;
		color: #b8b8b8;
		line-height: 1;
	}
	a{
		display: inline-block;
		float: right;
		color: @text-color;
		font-size: @font-size-base;
		text-decoration: underline;
		position: relative;
		top: 10px;
	}
}
.panel-review-wrapper{
	background-color: #fff;
	border-radius: @border-radius-middle;
	padding: 25px 30px;
	margin-bottom: 30px;
}
.bottom-block-review{
	padding-top: 30px;
	position: relative;

		.men-name{
			color: @text-color-second;
			font-size: 15px;
			font-family: 'centurygothicbold';
			margin-bottom: 15px;
		}
		h5{
			color: @text-color-second;
			font-size: 15px;
			font-family: 'centurygothicbold';
			margin-bottom: 5px;
		}
		p{
			color: @text-color;
			font-size: @font-size-base;
		}
}
.likes{
	position: absolute;
	top: 30px;
	right: 0;
	z-index: 2;

		.like-img{
			float: left;
			width: 50%;
			text-align: center;
		}
		.like-total{
			float: left;
			width: 50%;
			text-align: center;
			line-height: 26px;
			position: relative;

				&:before{
					content: "";
					display: block;
					position: absolute;
					left: -1px;
					top: 4px;
					height: 20px;
					border-left: 1px solid #c0b5c0;
				}
		}
}
.like-up{
	float: left;
	width: 70px;
	height: 30px;
	border: 1px solid #c0b5c0;
	border-radius: @border-radius-middle;

		a{
			font-size: @font-size-base;
			color: @text-color;
		}
}
.like-bottom{
	float: left;
	width: 70px;
	height: 30px;
	margin-left: 20px;
	border: 1px solid #c0b5c0;
	border-radius: @border-radius-middle;

		a{
			font-size: @font-size-base;
			color: @text-color;
		}
}
.date-container{
	margin-bottom: 15px;

		.date{
			display: inline-block;
			color: #727272;
			font-size: 13px;
			margin-right: 45px;
			background: url(../images/mini-date.png)no-repeat 1px 3px;
			padding-left: 25px;
		}
		.label-date{
			display: inline-block;
			color: #727272;
			font-size: 13px;
			background: url(../images/in-dosk.png)no-repeat 1px 3px;
			padding-left: 25px;
		}
}
.work-items-slider{
	width: 765px;

	.bx-item-container{
		border:0;
		border-radius: 0;
		padding: 0;
	}
	.bx-item{
		width: 145px;

			img{
				max-width: 100%;
				height: auto;
				border-radius: 7px;
				border: 1px solid #eaeaea;
			}
	}
}

.option-reviews{
	.top-block-review{
		border-bottom: 0;
		padding-bottom: 0;
	}
}
.other-review{
	.bottom-block-review{
		border-bottom: 1px solid #c0b5c0;
		padding-bottom: 10px;

			&:last-child{
				border-bottom: 0;
				padding-bottom: 0;
			}
	}
}
.author-wrapper{
	margin-top: 30px;

		.write-review{
			.left-block{
				height: 425px;
				text-align: left;
				padding-top: 35px;
			}
			.right-block{
				height: 425px;
				padding-top: 35px;

					.main-h2{
						margin-bottom: 20px;
					}
			}
			.register-link{
				width: 290px;
				line-height: 57px;
				font-size: 24px;
				padding: 0;
				margin: 0;
				margin-top: 30px;
			}
			.title{
				font-size: 15px;
				font-family: 'centurygothicbold';
				color: @text-color-second;
			}
		}
		.author-block{
			padding-left: 50px;
			padding-right: 50px;

				.main-h2{
					margin-bottom: 20px;
				}
				.enter{
					margin: 0;
					margin-top: 30px;
				}
		}
		.forget-pass{
			margin-top: 15px;
			a{
				font-size: @font-size-base;
				color: @text-color;
				text-decoration: underline;
			}
		}

}
.enter{
	width: 145px;
	font-size: 24px;
}
.marker-circle{
	list-style: disc;
	margin-left: 15px;
	font-size: @font-size-base;
	color: @text-color;

		li{
			margin-bottom: 2px;
		}
}
.author-in-site{
	background-color: #fff;
	margin-bottom: 35px;
	margin-top: 25px;
	padding: 40px 40px 25px 40px;
	border-radius: @border-radius-middle;
	box-shadow:0px 0px 18px 0px rgba(0, 0, 0, 0.18);
}
.big-social{
	margin-top: 20px;
	li{
		float: left;
		margin-right: 25px;
	}
}
.main-link{
	background: rgb(74, 60, 78);
	background: -moz-linear-gradient(90deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
	background: -webkit-linear-gradient(90deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
	background: -o-linear-gradient(90deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
	background: -ms-linear-gradient(90deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
	background: linear-gradient(180deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
	text-align: center;
	border-radius: @border-radius-base;
	font-size: @font-size-large;
	color: #fff !important;
	text-decoration: none !important;
	font-family: 'CenturyGothicRegulat';
}
.add-tovar,
.clear-list{
	display: inline-block;
	width: 185px;
	height: 40px;
	line-height: 38px;
}
.add-link{
	text-align: center;

		img{
			display: inline-block;
			margin-left: 15px;
			margin-right: 15px;
			position: relative;
			top: -5px;
		}
}
.compare-slider{
	padding: 25px 0;
}
.comparison-container{
	overflow: hidden;
	margin-bottom: 55px;

	header{
		height: 70px;
		border-radius: 7px 7px 0 0;
		border: 1px solid #c0b5c0;
		border-bottom: 0;
		background-color: #f3f3f3;
		padding-right: 15px;

			.main-link{
				display: block;
				float: right;
				width: 195px;
				height: 40px;
				line-height: 38px;
				margin-top: 13px;
			}
	}
}
.comparison-content{
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #c0b5c0;
	border-top: 0;
	border-radius: 0 0 7px 7px;

	table{
		width: 100%;
		td{
			width: 280px !important;
			height: 40px;
			vertical-align: middle;
			border: 1px solid #c0c0c0;
			color: @text-color;
			font-size: 14px;
			padding-left: 20px;

				&:first-child{
					border-left: 0;
					font-size: @font-size-large;
					font-family: 'centurygothicbold';
					padding-left: 5px;
				}
				&:last-child{
					border-right: 0;

				}
		}
		tr:last-child td{
			border-bottom: 0;
		}
		.logo{
			text-align: center;
		}
	}
}
.install-video{
	background-color: #fff;
	border-radius: @border-radius-middle;
	padding: 30px 15px 15px 30px;
}
.small-video-slider{
	.bx-item-container{
		border:0;
		border-radius: 0;
		text-align: left;
	}
	.bx-item{
		width: 175px;
	}
	.date{
		color: @text-color;
		font-size: 12px;
		margin-top: 15px;
	}
	.name{
		color: @text-color;
		font-size: 12px;
		margin-top: 15px;
	}
	.tovar-item-car{
		margin-top: 60px;
	}
}
.work-img{
	img{
		width: 100%;
		height: auto;
		border-radius: 7px;
		border: 1px solid #eaeaea;
	}
}
.main-h5{
	font-style: 15px;
	color: @text-color-second;
	font-family: 'centurygothicbold';
	margin-top: 0;
	margin-bottom: 5px;
}
.work-container{
	background-color: #fff;
	border-radius: @border-radius-middle;
	padding: 30px;
	margin-top: 20px;
	position: relative;

		.likes{
			right: 25px;
		}
}
.work-examples{
	margin-top: 30px;
}
.work-item{
	.col-xs-3{
		width: 20%;
		padding-top: 25px;
	}
	progress{
		width: 110px;
	}
	.col-xs-9{
		width: 80%;
		padding-left: 30px;
	}
	.star-list td:first-child{
		width: 80px;
	}
	p{
		font-size: @font-size-base;
		color: @text-color;
	}
	.show-all-link{
		text-align: right;

			a{
				text-decoration: underline;
				font-size: @font-size-base;
				color: @text-color;
			}
	}
	.get-install{
		float: right;
		line-height: 57px;
		width: 300px;
		
	}
	.item-star{
		margin-bottom: 15px;
	}
	.work-item{
		margin-top: 10px;
	}
}
.find-prices-link{
	margin: 20px 0;
	text-align: center;
}
.other-link{
	display: inline-block;
	color: #fff !important;
	font-size: 30px;
	text-decoration: none !important;
	font-family: 'CenturyGothicRegulat';
	height: 58px;
	line-height: 56px;
	background: rgb(74, 60, 78);
	background: -moz-linear-gradient(270deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
	background: -webkit-linear-gradient(270deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
	background: -o-linear-gradient(270deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
	background: -ms-linear-gradient(270deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
	background: linear-gradient(0deg, rgb(74, 60, 78) 0%, rgb(101, 77, 111) 100%);
	border-radius: @border-radius-middle;
	padding-left: 25px;
	padding-right: 25px;
}
.work-review{
	background-color: #fff;
	padding-top: 25px;

		.project{
			.main-h1{
				text-transform: none;
				font-family: 'centurygothicbold';
				font-size: 36px;
			}
		}
}
.more-text{
	font-size: @font-size-base;
	color: @text-color;
	padding-top: 10px;

		.more-text-block{
			padding: 0 100px;
		}
}
.icons-fixed{
	width: 950px;
	position: fixed;
	z-index: 10;
	top: 100px;
	padding: 30px;
	right: 30px;
	background-color: #f4f4f4;
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.18);

		a{
			text-decoration: none !important;
		}
		.col-xs-3{
			padding-left: 10px;
			padding-right: 10px;
		}
		.icons-close{
			position: absolute;
			z-index: 2;
			right: 15px;
			top: 5px;
			cursor: pointer;
		}
}
.icons-block{
	background-color: #fff;
	border: 1px solid #c0b5c0;
	border-radius: @border-radius-large;
	text-align: center;
	padding-bottom: 12px;
	font-size: 11px;
	color: @text-color;
	-webkit-transition: all 0.15s ease-in-out;
		-moz-transition: all 0.15s ease-in-out;
	        transition: all 0.15s ease-in-out;

		&:hover{
			background-color: transparent;
			border-color: transparent;
		}

		.icons-img{
			display: table;
			width: 100%;
			height: 105px;

				img{
					max-width: 100%;
					height: auto;
				}
		}
}
.mounting-title{
	margin-top: 30px;
	padding-top: 20px;
	background: rgb(236, 236, 236);
	background: -moz-linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);
	background: -webkit-linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(90deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);
	background: linear-gradient(180deg, rgb(236, 236, 236) 0%, rgb(255, 255, 255) 100%);

		img{
			max-width: 100%;
			height: auto;
		}
}
.grandstroy-text{
	font-family: 'AGLettericaCondLRegular';
	font-size: 48px;
	color: @text-color-second;
	padding-top: 30px;

		p{
			margin-bottom: 0;

				&:nth-child(2){
					padding-left: 95px;
				}
			
		}
}
.mounting-wrapper{
	margin-top: 35px;
	background-color: #fff;
	.services{
		padding-left: 290px;
	}
}
.text-container{
	color: @text-color;
	font-size: @font-size-base;
}
.mounting-slider-wrapper{
	background-color: #f3f3f3;
	padding: 30px 0;
}
.mounting-slider-container{
	background-color: #fff;
	padding: 35px 0;
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.24);

		.main-h1{
			font-size: 36px;
			text-transform: none;
			font-family: 'centurygothicbold';
		}
		.show-more{
			float: none !important;
			margin-top: 0 !important;
			text-decoration: none !important;
		}
}
.mount-list{
	font-weight: bold;
	font-size: 14px;
	color: @text-color;

		li{
			position: relative;
			margin-bottom: 10px;
			padding-left: 25px;

				&:before{
					content: "";
					display: block;
					position: absolute;
					z-index: 2;
					background: url(../images/mount-marker.png)no-repeat;
					width: 18px;
					height: 13px;
					left: 0;
					top: 3px;
				}
		}
}
.mount-link{
	text-align: center;
	.get-install{
		width: 100%;
		line-height: 58px;
		font-size: 27px;
	}

}
.mount-item{
	text-align: center;

		img{
			max-width: 100%;
			height: auto;
		}
}
.advantages-mount{
	background: #fff;
}
.price-mounting{
	padding-top: 30px;
	.main-h2{
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}
.calculate-mount{
	background-color: #f3f3f3;
	padding: 25px 0;

		.col-xs-8{
			padding-right: 30px;
		}
		.col-xs-4{
			padding-top: 40px;
		}
		.calculator .s-sub{
			width: 100%;
		}
}